.footer-wrapper { 
    background: var(--gradient-blue);
    border-radius: 50px 50px 0 0;
}

.footer-wrapper .footer-top-content .footer-primary-menu { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.footer-wrapper .footer-top-content .footer-primary-menu::after { 
    background-color: var(--white);
    content: '';
    height: 1px;
    position: relative;
    top: 35px;
    width: 55%;
}

.footer-wrapper .footer-top-content .footer-primary-menu .primary-menu-item { 
    color: var(--white);
    font-size: 18px;
    font-weight: var(--medium);
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-wrapper .footer-top-content .footer-primary-menu .primary-menu-item:focus { 
    outline: 2px dotted var(--white);
    outline-offset: 5px;
}

.footer-wrapper .footer-top-content .footer-secondary-menu { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.footer-wrapper .footer-top-content .footer-secondary-menu .social-links { 
    display: flex;
    justify-content: center;
    padding: 55px 0 45px 0;
}

.footer-wrapper .footer-top-content .footer-secondary-menu .social-links .social-link { 
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
}

.footer-wrapper .footer-top-content .footer-secondary-menu .social-links .social-link:hover,
.footer-wrapper .footer-top-content .footer-secondary-menu .social-links .social-link:focus { 
    border-bottom: 2px solid var(--white);
}

.footer-wrapper .footer-top-content .footer-secondary-menu .social-links .social-link:focus { 
    outline: 2px dotted var(--white);
    outline-offset: 5px;
}

.footer-wrapper .footer-top-content .footer-secondary-menu .login-button::after { 
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.367' height='14.321' viewBox='0 0 16.367 14.321'%3E%3Cpath id='Icon_open-account-login' data-name='Icon open-account-login' d='M6.137,0V2.046h8.183V12.275H6.137v2.046H16.367V0ZM8.183,4.092V6.137H0V8.183H8.183v2.046L12.275,7.16Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    padding-left: 12px;
    position: relative;
    top: 1px;
}

.footer-wrapper .footer-bottom-content { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    padding-bottom: 90px;
}

.footer-wrapper .footer-bottom-content .footer-credentials { 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer-wrapper .footer-bottom-content .footer-credentials .footer-credentials-text { 
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 30px;
}

.footer-wrapper .footer-bottom-content .footer-credentials .footer-credentials-button { 
    margin: 50px 0;
}

.footer-wrapper .footer-bottom-content .footer-credentials .footer-credentials-button::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.827' height='13.18' viewBox='0 0 14.827 13.18'%3E%3Cpath id='Icon_awesome-external-link-alt' data-name='Icon awesome-external-link-alt' d='M14.827.618V3.912a.618.618,0,0,1-1.055.437l-.919-.919L6.585,9.7a.618.618,0,0,1-.874,0l-.582-.582a.618.618,0,0,1,0-.874L11.4,1.974l-.919-.919A.618.618,0,0,1,10.915,0h3.294A.618.618,0,0,1,14.827.618Zm-4.35,6.353-.412.412a.618.618,0,0,0-.181.437v3.713H1.647V3.295h6.8a.618.618,0,0,0,.437-.181L9.292,2.7a.618.618,0,0,0-.437-1.055H1.236A1.236,1.236,0,0,0,0,2.883v9.061A1.236,1.236,0,0,0,1.236,13.18H10.3a1.236,1.236,0,0,0,1.236-1.236V7.407A.618.618,0,0,0,10.478,6.971Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    padding-left: 10px;
    position: relative;
}

.footer-wrapper .footer-bottom-content .footer-address { 
    color: var(--white);
    font-size: 18px;
    line-height: 30px;
    text-align: right;
}

/* Media Queries */
@media (min-width: 650px) {

    .footer-wrapper .footer-top-content .footer-primary-menu { 
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer-wrapper .footer-top-content .footer-primary-menu::after { 
        background-color: var(--white);
        content: '';
        height: 1px;
        position: relative;
        top: 60px;
        width: 100%;
        margin: 0 90px;
    }
    
    .footer-wrapper .footer-top-content .footer-primary-menu .primary-menu-item { 
        padding: 0 17px 15px 17px;
    }
    
    .footer-wrapper .footer-top-content .footer-secondary-menu { 
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 70px 60px 90px;
        padding-top: 60px;
    }
    
    .footer-wrapper .footer-top-content .footer-secondary-menu .social-links { 
        display: flex;
        justify-content: center;
        padding: 0;
    }
    
    .footer-wrapper .footer-top-content .footer-secondary-menu .social-links .social-link { 
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .footer-wrapper .footer-bottom-content { 
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        padding-bottom: 75px;
        justify-content: space-between;
        margin: 120px 90px 0 90px;
    }
    
    .footer-wrapper .footer-bottom-content .footer-credentials { 
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    
    .footer-wrapper .footer-bottom-content .footer-credentials .footer-credentials-text { 
        align-items: flex-start;
        color: var(--white);
        display: flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 30px;
    }
    
    .footer-wrapper .footer-bottom-content .footer-credentials .footer-credentials-button { 
        margin: 34px 0 0 0;
    }
    
    .footer-wrapper .footer-bottom-content .footer-address { 
        color: var(--white);
        font-size: 18px;
        line-height: 30px;
        text-align: right;
    }
}

@media (min-width: 1100px) {

    .footer-wrapper .footer-top-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
        align-items: center;
        padding-top: 67px;
    }

    .footer-wrapper .footer-top-content::after {
        background-color: var(--white);
        content: '';
        height: 1px;
        position: absolute;
        bottom: 0;
        width: calc(100% - 180px);
        margin: 0 70px 0 0;
        right: 0;
    }

    .footer-wrapper .footer-top-content .footer-primary-menu { 
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-right: 20px;
        margin-left: 93px;
    }
    
    .footer-wrapper .footer-top-content .footer-primary-menu::after { 
        display: none;
    }
    
    .footer-wrapper .footer-top-content .footer-primary-menu .primary-menu-item { 
        padding: 0 17px 17px 17px;
    }
    
    .footer-wrapper .footer-top-content .footer-secondary-menu { 
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin: 0 50px 50px 0;
        padding-top: 0;
        align-items: center;
    }
    
    .footer-wrapper .footer-top-content .footer-secondary-menu .social-links { 
        display: flex;
        justify-content: center;
        padding: 0;
        margin-left: 15px;
    }
    
    .footer-wrapper .footer-top-content .footer-secondary-menu .social-links .social-link { 
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .footer-wrapper .footer-bottom-content { 
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        padding-bottom: 75px;
        justify-content: space-between;
        margin: 50px 70px 0 110px;
    }
    
    .footer-wrapper .footer-bottom-content .footer-credentials { 
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    
    .footer-wrapper .footer-bottom-content .footer-credentials .footer-credentials-text { 
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    
    .footer-wrapper .footer-bottom-content .footer-credentials .footer-credentials-button { 
        margin: 30px 0 0 0;
    }
    
    .footer-wrapper .footer-bottom-content .footer-address { 
        text-align: right;
    }
}

@media (min-width: 1441px) {

    .footer-wrapper .footer-top-content {
        padding-top: 55px;
    }

    .footer-wrapper .footer-top-content::after {
        width: calc(100% - 180px);
        margin: 0 70px 0 0;
    }

    .footer-wrapper .footer-top-content .footer-primary-menu { 
        margin-bottom: 60px;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-right: 20px;
        margin-left: 93px;
    }
    
    .footer-wrapper .footer-top-content .footer-primary-menu .primary-menu-item { 
        padding: 0 20px;
    }
    
    .footer-wrapper .footer-top-content .footer-secondary-menu { 
        margin: 0 50px 60px 0;
    }
}