.header-menus-laptop {
    display: none;
}

.header-wrapper .header-logo-wrapper { 
    background-color: white;
    border-radius: 0 0 50px 50px;
    display: flex;
    justify-content: space-between;
    opacity: 0.95;
    padding: 30px;
    align-items: center;
}

.header-wrapper .header-logo:focus {
    outline-offset: 2px;
    outline: 2px dotted var(--black);
}

.header-wrapper .header-logo img { 
    height: auto;
    width: 163px;
}

.header-wrapper .header-menus {
    display: none;
    align-items: center;
    background-color: var(--blue);
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-wrapper .header-menus.active {
    display: flex;
    justify-content: flex-start;
}

.header-wrapper .header-hamburger-menu {
    cursor: pointer;
}

.header-wrapper .header-hamburger-menu:focus {
    outline-offset: 2px;
    outline: 2px dotted var(--black);
}

.header-wrapper .header-menus .header-secondary-menu { 
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 45px 0;
    width: 100%;
    justify-content: space-between;
}

.header-wrapper .header-menus .header-secondary-menu .login-button-laptop { 
    display: none;
}

.header-wrapper .header-menus .header-secondary-menu .cart-button-laptop { 
    display: none;
}

.header-wrapper .header-menus .header-secondary-menu .search-bar { 
    border-radius: 22px;
    border: none;
    color: var(--dark-blue);
    font-size: 16px;
    height: 44px;
    padding: 0 15px;
    margin-left: 35px;
    width: -webkit-fill-available;
}

.header-wrapper .header-menus .header-secondary-menu .search-bar:focus {
    outline-offset: 5px;
    outline: 2px dotted var(--white);
}

::placeholder {
    color: var(--dark-blue);
    opacity: 1;
}
  
::-ms-input-placeholder {
    color: var(--dark-blue);
}

.header-wrapper .header-menus .header-secondary-menu .header-hamburger-menu-close {
    content: url("../svgs/close.svg");
    margin-left: 23px;
    margin-right: 35px;
}

.header-wrapper .header-menus .header-secondary-menu .header-hamburger-menu-close:focus { 
    outline-offset: 5px;
    outline: 2px dotted var(--white);
    content: url("../svgs/close-hover.svg");
}

.header-wrapper .header-menus .header-secondary-menu .header-hamburger-menu-close:hover { 
    content: url("../svgs/close-hover.svg");
}

.header-wrapper .header-menus .header-primary-menu { 
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
}

.header-wrapper .header-menus .header-cart-btn { 
    height: 45px;
    width: 45px;
    margin-bottom: 60px;
}

.header-wrapper .header-menus .header-login {
    border: 1px solid var(--blue);
}

.header-wrapper .header-menus .header-login:hover,
.header-wrapper .header-menus .header-login:focus {
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
    outline: none;
}

.header-wrapper .header-menus .header-login:hover::after,
.header-wrapper .header-menus .header-login:focus::after {
    content: url("../svgs/arrow-in-hover.svg");
}

.header-wrapper .header-menus .header-login::after { 
    content: url("../svgs/arrow-in.svg");
    padding-left: 5px;
    position: relative;
    top: -1px;
}

.header-wrapper .header-menus .header-cart-btn:hover::after,
.header-wrapper .header-menus .header-cart-btn:focus::after { 
    content: url("../svgs/cart-hover.svg");
}

.header-wrapper .header-menus .header-cart-btn:focus::after {
    outline: 2px dotted var(--white);
    outline-offset: 4px;
}

.header-wrapper .header-menus .header-cart-btn::after { 
    height: 45px;
    width: 45px;
    display: block;
    transition: content 0.3s;
    content: url("../svgs/cart.svg");
}

.header-wrapper .header-menus .header-primary-menu .primary-menu-item { 
    color: var(--white);
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-wrapper .header-menus .header-primary-menu .primary-menu-item:focus {
    outline-offset: 5px;
    outline: 2px dotted var(--white);
}

.header-wrapper .header-menus .social-links { 
    display: flex;
    justify-content: center;
    padding: 60px 0 75px 0;
}

.header-wrapper .header-menus .social-links .social-link { 
    margin-left: 20px;
    margin-right: 20px;
}

.header-wrapper .header-menus .social-links .social-link:hover,
.header-wrapper .header-menus .social-links .social-link:focus { 
    border-bottom: 2px solid var(--white);
}

.header-wrapper .header-menus .social-links .social-link:focus {
    outline: 2px dotted var(--white);
    outline-offset: 7px;
}

/* Media Queries */
@media (min-width: 650px) {

    .header-wrapper .header-logo-wrapper { 
        padding: 50px 75px;
    }
    
    .header-wrapper .header-logo img { 
        width: 312px;
    }
    
    .header-wrapper .header-menus {
        display: none;
        height: fit-content;
        left: 50%;
        position: fixed;
        top: 0;
        width: 50%;
        border-radius: 30px 0 0 30px;
    }
    
    .header-wrapper .header-menus.active {
        display: flex;
    }
}

@media (min-width: 1100px) {

    .header-wrapper .header-logo-wrapper { 
        display: flex;
        justify-content: space-between;
        padding: 50px 75px;
        align-items: flex-end;
    }
    
    
    .header-wrapper .header-logo img { 
        width: 312px;
    }
    
    .header-wrapper .header-menus {
        display: none;
    }
    
    .header-wrapper .header-hamburger-menu {
        display: none;
    }

    .header-wrapper .header-menus-laptop {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop { 
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .login-button-laptop { 
        border: 1px solid var(--black);
        display: flex;
    }

    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .login-button-laptop::after {
        content: url("../svgs/arrow-in.svg");
        padding-left: 5px;
        position: relative;
        top: -1px;
    }

    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .login-button-laptop:hover,
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .login-button-laptop:focus { 
        outline-color: var(--black);
    }
    
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .cart-button-laptop {
        margin-left: 15px;
        display: flex;
        content: url("../svgs/cart-laptop.svg");
    }

    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .cart-button-laptop:hover,
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .cart-button-laptop:focus {
        content: url("../svgs/cart-laptop-hover.svg");
    }

    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .cart-button-laptop:focus {
        outline: 4px dotted var(--black);
        outline-offset: 5px;
    }

    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .search-button-laptop {
        margin-left: 12px;
        display: flex;
        content: url("../svgs/search.svg");
    }

    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .search-button-laptop:hover,
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .search-button-laptop:focus {
        content: url("../svgs/search-hover.svg");
    }

    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .search-button-laptop:focus {
        outline: 4px dotted var(--black);
        outline-offset: 5px;
    }
    
    .header-wrapper .header-menus .header-secondary-menu .header-hamburger-menu-close { 
       display: none;
    }
    
    .header-wrapper .header-menus-laptop .header-primary-menu-laptop { 
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        color: var(--black);
        margin-top: 22px;
    }
    
    .header-wrapper .header-menus .header-cart-btn { 
        display: none;
    }
    
    .header-wrapper .header-menus .header-cart-btn::after { 
        display: none;
    }
    
    .header-wrapper .header-menus-laptop .header-primary-menu-laptop .primary-menu-item-laptop { 
        color: var(--black);
        padding: 0 20px;
    }

    .header-wrapper .header-menus-laptop .header-primary-menu-laptop .primary-menu-item-laptop:focus { 
        outline: 2px dotted var(--black);
        outline-offset: 5px;
    }

    .header-wrapper .header-menus-laptop .header-primary-menu-laptop .primary-menu-item-laptop:last-of-type { 
        padding: 0 0 0 20px;
    }
    
    .header-wrapper .header-menus .social-links { 
        display: none;
    }
    
    .header-wrapper .header-menus .social-links .social-link { 
        display: none;
    }
}

@media (min-width: 1441px) {

    .header-wrapper .header-logo-wrapper { 
        padding: 50px 100px;
    }
    
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .cart-button-laptop { 
        display: flex;
    }
    
    .header-wrapper .header-menus-laptop .header-secondary-menu-laptop .search-bar-laptop { 
        border-radius: 22px;
        border: none;
        font-size: 16px;
        height: 44px;
        padding: 0 15px;
    }
}
