body {
    font-family: "Lexend", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

a:focus {
    outline-offset: 2px;
    outline: 2px dotted var(--gradient-blue);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #CBE9E3;
    font-weight: var(--bold);
}

.header-wrapper .header-logo img { 
    height: auto;
    width: 163px;
}

/* colours & font weight */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --yellow: #FEDC00;
    --light-green: rgba(108, 191, 174, 0.2);
    --green: #6CBFAE;
    --pale-blue: rgba(35, 53, 110, 0.05);
    --light-blue: #084E99;
    --blue: #23356E;
    --dark-blue: #071A31;
    --gradient-blue: linear-gradient(170deg, rgba(7,26,49,1) 15%, rgba(25,37,74,1) 80%);

    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
}

/* buttons */
.btn {
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid var(--green);
    color: var(--white);
    display: flex;
    font-size: 18px;
    padding: 11px 22px;
    width: fit-content;
    height: fit-content;
    outline: 3px solid;
    outline-color: transparent;
    outline-offset: -3px;
    transition: all 0.3s;
}

.btn-lt {
    background-color: var(--white);
    border-radius: 25px;
    border: 1px solid var(--dark-blue);
    color: var(--blue);
    display: flex;
    font-size: 18px;
    padding: 10px 22px;
    width: fit-content;
    height: fit-content;
    outline: 3px solid;
    outline-color: transparent;
    transition: all 0.3s;
    outline-offset: -3px;
}

.btn-white {
    background-color: var(--white);
    border-radius: 25px;
    border: 1px solid var(--black);
    color: var(--blue);
    display: flex;
    font-size: 18px;
    padding: 10px 22px;
    width: fit-content;
    height: fit-content;
    outline: 3px solid;
    outline-color: transparent;
    transition: all 0.3s;
    outline-offset: -3px;
}

.btn:hover,
.btn-lt:hover,
.btn-white:hover,
.btn:focus,
.btn-lt:focus,
.btn-white:focus {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    outline-offset: -3px;
}

.btn:focus,
.btn-lt:focus,
.btn-white:focus {
    outline: 4px dotted var(--black);
    outline-offset: 5px;
}

.btn:hover,
.btn:focus {
    outline-color: var(--green);
}

.btn-lt:hover,
.btn-lt:focus {
    outline-color: var(--dark-blue);
}

.btn-white:hover,
.btn-white:focus {
    outline-color: var(--white);
}
