.c-cards-wrapper { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px;
    position: relative;
}

.c-cards-wrapper::before {
    content: url("/tmu/svgs/bg-arrow-small.svg");
    right: -170px;
    overflow: hidden;
    position: absolute;
    top: -112px;
    z-index: -2;
    width: calc(100% + 170px);
    overflow: hidden;
    left: -140px;
}

.c-cards-wrapper .c-card {
    all: unset;
    border-radius: 30px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    overflow: hidden;
    background-color: var(--white);
}

.c-cards-wrapper .c-card:focus {
    outline: 4px dotted var(--blue);
    outline-offset: 10px;
}

.c-cards-wrapper .c-card:hover .c-card-description .c-card-description-title,
.c-cards-wrapper .c-card:focus .c-card-description .c-card-description-title {
    text-decoration: underline;
}

.c-cards-wrapper .c-card:hover .c-card-image,
.c-cards-wrapper .c-card:focus .c-card-image {
    top: -20px;
}

.c-cards-wrapper .c-card .c-card-image { 
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 175px;
    object-fit: cover;
    transition: top 0.3s ease-in-out;
    position: relative;
    top: 0px;
}

.c-cards-wrapper .c-card .c-card-description { 
    padding: 25px;
}

.c-cards-wrapper .c-card .c-card-description .c-card-description-taxonomy { 
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: var(--regular);
}

.c-cards-wrapper .c-card .c-card-description .c-card-description-title { 
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
    font-weight: var(--medium);
    color: var(--blue);
}

.c-cards-wrapper .c-card .c-card-description .c-card-description-subtitle { 
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--regular);
}

.c-cards-wrapper .c-card .c-card-info { 
    background-color: var(--pale-blue);
    border-radius: 30px;
    padding: 33px 25px;
    font-size: 16px;
    line-height: 27px;
    font-weight: var(--regular);
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-date::before {
    content: url("/tmu/svgs/calendar.svg");
    margin-right: 16px;
    margin-left: 1px;
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-time { 
    margin: 10px 0;
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-time::before {
    content: url("/tmu/svgs/clock.svg");
    margin-right: 15px;
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-place::before {
    content: url("/tmu/svgs/place.svg");
    margin-right: 15px;
}

@media (min-width: 650px) {

    .c-cards-wrapper { 
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin: 75px;
    }

    .c-cards-wrapper::before {
        display: none;
    }

    .c-cards-wrapper::after {
        bottom: -430px;
        content: url("/tmu/svgs/bg-arrow-medium.svg");
        left: -400px;
        overflow: hidden;
        position: absolute;
        width: calc(100% + 475px);
        z-index: -2;
    }
    
    .c-cards-wrapper .c-card .c-card-image { 
        height: 345px;
    }
    
    .c-cards-wrapper .c-card .c-card-description { 
        padding: 60px 60px 40px 60px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-taxonomy { 
        margin-bottom: 25px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-title { 
        margin-bottom: 25px;
    }
    
    .c-cards-wrapper .c-card .c-card-info { 
        padding: 40px 35px;
        margin: 0 60px 60px 60px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-date::before {
        margin-left: 1px;
        margin-right: 21px;
        position: relative;
        top: 5px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time { 
        margin: 15px 0;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time::before {
        margin-right: 20px;
        position: relative;
        top: 6px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-place::before {
        margin-right: 20px;
        position: relative;
        top: 8px;
    }
}

@media (min-width: 1100px) {

    .c-cards-wrapper { 
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        margin: 100px 150px;
    }

    .c-cards-wrapper::before {
        display: block;
        top: -190px;
        right: -640px;
        content: url("/tmu/svgs/bg-arrow-big.svg");
        left: auto;
    }

    .c-cards-wrapper::after {
        bottom: -290px;
        left: -1070px;
        right: auto;
        width: calc(100% + 650px);
    }
    
    .c-cards-wrapper .c-card .c-card-image { 
        height: 345px;
    }
    
    .c-cards-wrapper .c-card .c-card-description { 
        padding: 40px 40px 30px 40px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-taxonomy { 
        margin-bottom: 20px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-title { 
        margin-bottom: 20px;
    }
    
    .c-cards-wrapper .c-card .c-card-info { 
        padding: 30px 40px;
        margin: 0 40px 40px 40px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-date::before {
        margin-left: 0;
        margin-right: 15px;
        position: relative;
        top: 3px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time { 
        margin: 15px 0;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time::before {
        margin-right: 15px;
        position: relative;
        top: 3px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-place::before {
        margin-right: 15px;
        position: relative;
        top: 4px;
    }
}

@media (min-width: 1441px) {

    .c-cards-wrapper { 
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }

    .c-cards-wrapper::before {
        display: block;
        top: -335px;
        right: -905px;
        content: url("/tmu/svgs/bg-arrow-large.svg");
    }

    .c-cards-wrapper::after {
        bottom: -470px;
        right: 420px;
        content: url("/tmu/svgs/bg-arrow-large.svg");
    }
    
    .c-cards-wrapper .c-card .c-card-image { 
        height: 263px;
    }
    
    .c-cards-wrapper .c-card .c-card-info { 
        padding: 30px;
    }
}