.c-cards-wrapper { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 30px;
}

.c-cards-wrapper .c-card {
    all: unset;
    border-radius: 30px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    overflow: hidden;
}

.c-cards-wrapper .c-card:focus {
    outline: 4px dotted var(--blue);
    outline-offset: 10px;
}

.c-cards-wrapper .c-card:hover .c-card-description .c-card-description-title,
.c-cards-wrapper .c-card:focus .c-card-description .c-card-description-title {
    text-decoration: underline;
}

.c-cards-wrapper .c-card:hover .c-card-image,
.c-cards-wrapper .c-card:focus .c-card-image {
    top: -20px;
}

.c-cards-wrapper .c-card .c-card-image { 
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 175px;
    object-fit: cover;
    transition: top 0.3s ease-in-out;
    position: relative;
    top: 0px;
}

.c-cards-wrapper .c-card .c-card-description { 
    padding: 25px;
}

.c-cards-wrapper .c-card .c-card-description .c-card-description-taxonomy { 
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: var(--regular);
}

.c-cards-wrapper .c-card .c-card-description .c-card-description-title { 
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px;
    font-weight: var(--medium);
    color: var(--blue);
}

.c-cards-wrapper .c-card .c-card-description .c-card-description-subtitle { 
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--regular);
}

.c-cards-wrapper .c-card .c-card-info { 
    background-color: var(--pale-blue);
    border-radius: 30px;
    padding: 33px 25px;
    font-size: 16px;
    line-height: 27px;
    font-weight: var(--regular);
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-date::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.82' height='12.023' viewBox='0 0 10.82 12.023'%3E%3Cpath id='Icon_material-date-range' data-name='Icon material-date-range' d='M8.107,8.41H6.9v1.2h1.2Zm2.4,0h-1.2v1.2h1.2Zm2.4,0h-1.2v1.2h1.2Zm1.2-4.208h-.6V3h-1.2V4.2H7.506V3H6.3V4.2H5.7a1.2,1.2,0,0,0-1.2,1.2L4.5,13.82a1.2,1.2,0,0,0,1.2,1.2h8.416a1.206,1.206,0,0,0,1.2-1.2V5.4A1.206,1.206,0,0,0,14.118,4.2Zm0,9.618H5.7V7.208h8.416Z' transform='translate(-4.5 -3)' fill='%2323356e'/%3E%3C/svg%3E%0A");
    margin-right: 16px;
    margin-left: 1px;
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-time { 
    margin: 20px 0;
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-time::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.126' height='13.126' viewBox='0 0 13.126 13.126'%3E%3Cg id='Icon_feather-clock' data-name='Icon feather-clock' transform='translate(1 1)'%3E%3Cpath id='Path_670' data-name='Path 670' d='M14.126,8.563A5.563,5.563,0,1,1,8.563,3a5.563,5.563,0,0,1,5.563,5.563Z' transform='translate(-3 -3)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_671' data-name='Path 671' d='M18,9v3.338l2.225,1.113' transform='translate(-12.437 -6.775)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    margin-right: 15px;
}

.c-cards-wrapper .c-card .c-card-info .c-card-info-place::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.753' height='15.142' viewBox='0 0 12.753 15.142'%3E%3Cg id='Icon_feather-map-pin' data-name='Icon feather-map-pin' transform='translate(1 1)'%3E%3Cpath id='Path_672' data-name='Path 672' d='M15.253,6.876c0,4.182-5.376,7.766-5.376,7.766S4.5,11.058,4.5,6.876a5.376,5.376,0,0,1,10.753,0Z' transform='translate(-4.5 -1.5)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_673' data-name='Path 673' d='M17.084,12.292A1.792,1.792,0,1,1,15.292,10.5,1.792,1.792,0,0,1,17.084,12.292Z' transform='translate(-9.916 -6.916)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    margin-right: 15px;
}

@media (min-width: 650px) {

    .c-cards-wrapper { 
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        margin: 75px;
    }
    
    .c-cards-wrapper .c-card .c-card-image { 
        height: 345px;
    }
    
    .c-cards-wrapper .c-card .c-card-description { 
        padding: 60px 60px 40px 60px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-taxonomy { 
        margin-bottom: 25px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-title { 
        margin-bottom: 25px;
    }
    
    .c-cards-wrapper .c-card .c-card-info { 
        padding: 40px 35px;
        margin: 0 60px 60px 60px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-date::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.469' height='23.854' viewBox='0 0 21.469 23.854'%3E%3Cpath id='Icon_material-date-range' data-name='Icon material-date-range' d='M11.656,13.734H9.271V16.12h2.385Zm4.771,0H14.042V16.12h2.385Zm4.771,0H18.813V16.12H21.2Zm2.385-8.349H22.391V3H20.005V5.385H10.464V3H8.078V5.385H6.885A2.375,2.375,0,0,0,4.512,7.771L4.5,24.469a2.385,2.385,0,0,0,2.385,2.385h16.7a2.392,2.392,0,0,0,2.385-2.385V7.771A2.392,2.392,0,0,0,23.584,5.385Zm0,19.084H6.885V11.349h16.7Z' transform='translate(-4.5 -3)' fill='%2323356e'/%3E%3C/svg%3E%0A");
        margin-left: 1px;
        margin-right: 21px;
        position: relative;
        top: 5px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time { 
        margin: 30px 0;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.075' height='24.075' viewBox='0 0 24.075 24.075'%3E%3Cg id='Icon_feather-clock' data-name='Icon feather-clock' transform='translate(1 1)'%3E%3Cpath id='Path_670' data-name='Path 670' d='M25.075,14.038A11.038,11.038,0,1,1,14.038,3,11.038,11.038,0,0,1,25.075,14.038Z' transform='translate(-3 -3)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_671' data-name='Path 671' d='M18,9v6.623l4.415,2.208' transform='translate(-6.962 -4.585)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        margin-right: 20px;
        position: relative;
        top: 6px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-place::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.335' height='28.076' viewBox='0 0 23.335 28.076'%3E%3Cg id='Icon_feather-map-pin' data-name='Icon feather-map-pin' transform='translate(1 1)'%3E%3Cpath id='Path_672' data-name='Path 672' d='M25.835,12.167c0,8.3-10.667,15.409-10.667,15.409S4.5,20.464,4.5,12.167a10.667,10.667,0,1,1,21.335,0Z' transform='translate(-4.5 -1.5)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_673' data-name='Path 673' d='M20.612,14.056A3.556,3.556,0,1,1,17.056,10.5a3.556,3.556,0,0,1,3.556,3.556Z' transform='translate(-6.388 -3.388)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        margin-right: 20px;
        position: relative;
        top: 8px;
    }
}

@media (min-width: 1100px) {

    .c-cards-wrapper { 
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
        margin: 100px 150px;
    }
    
    .c-cards-wrapper .c-card .c-card-image { 
        height: 345px;
    }
    
    .c-cards-wrapper .c-card .c-card-description { 
        padding: 40px 40px 30px 40px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-taxonomy { 
        margin-bottom: 20px;
    }
    
    .c-cards-wrapper .c-card .c-card-description .c-card-description-title { 
        margin-bottom: 20px;
    }
    
    .c-cards-wrapper .c-card .c-card-info { 
        padding: 30px 40px;
        margin: 0 40px 40px 40px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-date::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.469' height='19.854' viewBox='0 0 21.469 23.854'%3E%3Cpath id='Icon_material-date-range' data-name='Icon material-date-range' d='M11.656,13.734H9.271V16.12h2.385Zm4.771,0H14.042V16.12h2.385Zm4.771,0H18.813V16.12H21.2Zm2.385-8.349H22.391V3H20.005V5.385H10.464V3H8.078V5.385H6.885A2.375,2.375,0,0,0,4.512,7.771L4.5,24.469a2.385,2.385,0,0,0,2.385,2.385h16.7a2.392,2.392,0,0,0,2.385-2.385V7.771A2.392,2.392,0,0,0,23.584,5.385Zm0,19.084H6.885V11.349h16.7Z' transform='translate(-4.5 -3)' fill='%2323356e'/%3E%3C/svg%3E%0A");
        margin-left: 0;
        margin-right: 15px;
        position: relative;
        top: 3px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time { 
        margin: 15px 0;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-time::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.075' height='19.075' viewBox='0 0 24.075 24.075'%3E%3Cg id='Icon_feather-clock' data-name='Icon feather-clock' transform='translate(1 1)'%3E%3Cpath id='Path_670' data-name='Path 670' d='M25.075,14.038A11.038,11.038,0,1,1,14.038,3,11.038,11.038,0,0,1,25.075,14.038Z' transform='translate(-3 -3)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_671' data-name='Path 671' d='M18,9v6.623l4.415,2.208' transform='translate(-6.962 -4.585)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        margin-right: 15px;
        position: relative;
        top: 3px;
    }
    
    .c-cards-wrapper .c-card .c-card-info .c-card-info-place::before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.335' height='19.076' viewBox='0 0 23.335 28.076'%3E%3Cg id='Icon_feather-map-pin' data-name='Icon feather-map-pin' transform='translate(1 1)'%3E%3Cpath id='Path_672' data-name='Path 672' d='M25.835,12.167c0,8.3-10.667,15.409-10.667,15.409S4.5,20.464,4.5,12.167a10.667,10.667,0,1,1,21.335,0Z' transform='translate(-4.5 -1.5)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_673' data-name='Path 673' d='M20.612,14.056A3.556,3.556,0,1,1,17.056,10.5a3.556,3.556,0,0,1,3.556,3.556Z' transform='translate(-6.388 -3.388)' fill='none' stroke='%2323356e' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
        margin-right: 15px;
        position: relative;
        top: 4px;
    }
}

@media (min-width: 1441px) {

    .c-cards-wrapper { 
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }
    
    .c-cards-wrapper .c-card .c-card-image { 
        height: 263px;
    }
    
    .c-cards-wrapper .c-card .c-card-info { 
        padding: 30px;
    }
}