.c-hero-wrapper { 
    display: flex;
    overflow: hidden;
    padding: 140px 30px 70px 30px;
    position: relative;
    top: -100px;
}

.c-hero-wrapper::after {
    border-radius: 0 0 50px 50px;
    content: url("/tmu/svgs/c-hero-bg-s.svg");
    height: -webkit-fill-available;
    left: -1.3px;
    opacity: 0.9;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% + 1px);
    z-index: -1;
}

.c-hero-wrapper .c-hero-main {
    width: 100%;
}

.c-hero-wrapper .c-hero-main .c-hero-title { 
    font-size: 30px;
    font-weight: var(--semibold);
    line-height: 40px;
    color: var(--white);
}

.c-hero-wrapper .c-hero-main .c-hero-title-background { 
    height: calc(100% + 100px);
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -100px;
    width: 100%;
    z-index: -1;
    border-radius: 0 0 50px 50px;
    opacity: 0.8;
}

.c-hero-wrapper .c-hero-main .c-hero-search-wrapper { 
    display: flex;
    margin-top: 26px;
    font-size: 16px;
    font-weight: var(--medium);
    line-height: 20px;
    justify-content: space-between;
}

.c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-bar { 
    all: unset;
    background-color: var(--white);
    color: var(--blue);
    padding: 15px 117px 15px 22px;
    border-radius: 30px;
    width: -webkit-fill-available;
    position: relative;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16);
}

.c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-bar:focus {
    outline: 4px dotted var(--black);
    outline-offset: 5px;
}

.c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-bar::-webkit-search-cancel-button{
    display: none;
}

.c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-btn { 
    all: unset;
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 25px;
    border-radius: 30px;
    position: absolute;
    right: 30px;
    border: 3px solid var(--blue);
    cursor: pointer;
    transition: all 0.3s ease;
}

.c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-btn:hover,
.c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-btn:focus { 
    background-color: var(--white);
    color: var(--blue);
}

.c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-btn:focus { 
    outline: 3px dotted var(--blue);
    outline-offset: 2px;
}

/* Media Queries */
@media (min-width: 650px) {

    .c-hero-wrapper { 
        padding: 245px 75px 75px 75px;
        top: -170px;
    }
    
    .c-hero-wrapper::after {
        right: 0;
        top: 0;
        content: url("/tmu/svgs/c-hero-bg-m.svg");
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-title { 
        font-size: 46px;
        line-height: 60px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-title-background { 
        height: calc(100% + 170px);
        left: 0;
        top: -170px;
        width: 100%;
        z-index: -1;
        border-radius: 0 0 50px 50px;
        opacity: 0.8;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper { 
        display: flex;
        margin-top: 40px;
        font-size: 18px;
        line-height: 23px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-bar { 
        padding: 15px 153px 15px 22px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-btn { 
        padding: 12px 40px;
        right: 75px;
    }
}

@media (min-width: 1100px) {

    .c-hero-wrapper { 
        padding: 290px 150px 90px 150px;
        top: -190px;
    }
    
    .c-hero-wrapper::after {
        top: 0;
        content: url("/tmu/svgs/c-hero-bg-l.svg");
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-title { 
        font-size: 46px;
        line-height: 60px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-title-background { 
        height: calc(100% + 190px);
        top: -190px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper { 
        margin-top: 30px;
        font-size: 15px;
        line-height: 19px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-bar { 
        padding: 15px 153px 15px 22px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-btn { 
        padding: 13px 22px;
        right: 150px;
    }
}

@media (min-width: 1441px) {

    .c-hero-wrapper { 
        padding: 330px 150px 125px 150px;
    }

    .c-hero-wrapper::after {
        content: url("/tmu/svgs/c-hero-bg-xl.svg");
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-title { 
        font-size: 54px;
        line-height: 65px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper { 
        font-size: 20px;
        line-height: 25px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-bar { 
        padding: 15px 173px 15px 22px;
    }
    
    .c-hero-wrapper .c-hero-main .c-hero-search-wrapper .c-hero-search-btn { 
        padding: 13px 40px;
        right: 150px;
    }
}