.hp-hero-wrapper {
    padding: 100px 0 100px 0;
    position: relative;
}

.hp-hero-wrapper::after {
    content: url("/tmu/svgs/hp-hero-small.svg");
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -270px;
    width: calc(100% + 520px);
    z-index: -1;
}

.hp-hero-wrapper .hp-hero-img { 
    height: calc(100% + 100px);
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -100px;
    width: 100%;
    z-index: -1;
}

.hp-hero-wrapper .hp-hero-header { 
    font-size: 30px;
    font-weight: var(--semibold);
    line-height: 40px;
    margin: 0 30px 0 30px;
    width: 60%;

    @media (max-width: 400px) {
        width: 90%;
    }

    @media (max-width: 420px) {
        width: 85%;
    }

    @media (min-width: 420px) {
        width: 70%;
    }

    @media (min-width: 500px) {
        width: 65%;
    }

    @media (min-width: 550px) {
        width: 55%;
    }

    @media (min-width: 650px) {
        width: 70%;
    }

    @media (min-width: 750px) {
        width: 60%;
    }

    @media (min-width: 900px) {
        width: 50%;
    }
}

.hp-hero-wrapper .hp-hero-button {
    margin: 28px 30px 0 30px;
}

.hp-hero-wrapper .hp-hero-button::after {
    content: url("/tmu/svgs/arrow.svg");
    padding-left: 11px;
    position: relative;
    transition: padding-left 0.3s;
}

.hp-hero-wrapper .hp-hero-button:hover::after,
.hp-hero-wrapper .hp-hero-button:focus::after {
    padding-left: 21px;
}

/* Media Queries */
@media (min-width: 650px) {

    .hp-hero-wrapper {
        padding: 190px 0 275px 0;
    }
    
    .hp-hero-wrapper::after {
        content: url("/tmu/svgs/hp-hero-medium.svg");
        left: -1013px;
        top: -540px;
        z-index: -1;
        width: calc(100% + 1013px);
    }
    
    .hp-hero-wrapper .hp-hero-img { 
        height: calc(100% + 200px);
        left: 0;
        top: -200px;
        border-radius: 0 0 0 50px;
    }
    
    .hp-hero-wrapper .hp-hero-header { 
        font-size: 46px;
        line-height: 60px;
        margin: 0 200px 0 75px;
    }
    
    .hp-hero-wrapper .hp-hero-button {
        margin: 30px 75px 0 75px;
    }
}

@media (min-width: 1100px) {

    .hp-hero-wrapper {
        padding: 190px 0 260px 0;
    }
    
    .hp-hero-wrapper::after {
        content: url("/tmu/svgs/hp-hero-big.svg");
        position: absolute;
        left: -720px;
        top: -580px;
        z-index: -1;
        width: calc(100% + 720px);
    }
    
    .hp-hero-wrapper .hp-hero-img { 
        height: calc(100% + 200px);
        left: 0;
        top: -200px;
        border-radius: 0 0 0 50px;
    }
    
    .hp-hero-wrapper .hp-hero-header { 
        font-size: 46px;
        line-height: 60px;
        margin: 0 200px 0 150px;
        width: 450px;
    }
    
    .hp-hero-wrapper .hp-hero-button {
        margin: 30px 150px 0 150px;
    }
}

@media (min-width: 1441px) {

    .hp-hero-wrapper {
        padding: 160px 0 260px 0;
    }
    
    .hp-hero-wrapper::after {
        content: url("/tmu/svgs/hp-hero-large.svg");
        position: absolute;
        left: -720px;
        top: -580px;
        z-index: -1;
        width: calc(100% + 720px);
    }
    
    .hp-hero-wrapper .hp-hero-img { 
        height: calc(100% + 270px);
        left: 0;
        top: -200px;
        border-radius: 0 0 50px 50px;
    }
    
    .hp-hero-wrapper .hp-hero-header { 
        font-size: 54px;
        line-height: 65px;
        margin: 0 200px 0 180px;
        width: 530px;
    }
    
    .hp-hero-wrapper .hp-hero-button {
        margin: 40px 150px 0 180px;
    }
}
