.hp-resources-header-buttons-laptop {
    display: none;
}

.hp-featured-resources-wrapper { 
    background-color: var(--blue);
    border-radius: 50px 0 50px 50px;
    padding: 30px 30px 40px 30px;
}

.hp-featured-resources-wrapper .hp-resources-featured-text { 
    background-color: var(--white);
    border-radius: 50px 50px 0 50px;
    color: var(--dark-blue);
    font-size: 23px;
    margin-bottom: 40px;
    margin-top: -60px;
    padding: 40px 50px;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);

    b {
        color: var(--blue);
    }
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-text { 
    color: var(--white);
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: var(--semibold);
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card { 
    background-color: var(--white);
    border-radius: 30px;
    height: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card:hover .hp-resource-card-image,
.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card:focus .hp-resource-card-image {
    top: -20px;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card:hover .hp-resource-card-title,
.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card:focus .hp-resource-card-title {
    text-decoration: underline;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card:hover,
.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card:focus {
    text-decoration: none;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card:focus {
    outline: 2px dotted var(--white);
    outline-offset: 5px;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-image { 
    border-radius: 30px 30px 0 0;
    height: 200px;
    object-fit: cover;
    width: 100%;
    transition: top 0.3s ease-in-out;
    position: relative;
    top: 0px;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-content {
    padding: 30px;
    background-color: var(--white);
    border-radius: 0 0 30px 30px;
    margin-top: -4px;
    z-index: 1;
    position: relative;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-taxonomy { 
    color: var(--dark-blue);
    font-size: 16px;
    margin-bottom: 20px;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-title { 
    color: var(--blue);
    font-size: 20px;
    margin-bottom: 20px;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-date { 
    color: var(--dark-blue);
    font-size: 16px;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-buttons { 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-buttons .hp-resources-link-first { 
    margin: 8px 0 30px 0;
}

/* Media Queries */
@media (min-width: 650px) {

    .hp-featured-resources-wrapper { 
        margin: 0 75px;
        padding: 75px;
        position: relative;
    }

    .hp-featured-resources-wrapper::before {
        content: url("/tmu/svgs/hp-resources-bg.svg");
        position: absolute;
        left: -1925px;
        top: -50px;
        z-index: -5;
        width: calc(100% + 2000px);
        overflow: hidden;
        height: 100%;
    }
    
    .hp-featured-resources-wrapper .hp-resources-featured-text { 
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: -150px;
        margin-top: -180px;
        padding: 40px;
        text-align: left;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-text { 
        font-size: 34px;
        margin-bottom: 50px;
        text-align: left;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card { 
        border-radius: 30px;
        margin-bottom: 50px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-image { 
        height: 254px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-content {
        padding: 40px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-taxonomy { 
        font-size: 16px;
        margin-bottom: 22px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-title { 
        font-size: 26px;
        margin-bottom: 22px;
        line-height: 36px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-date { 
        font-size: 16px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-buttons { 
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-buttons .hp-resources-link-first { 
        margin: 0 0 25px 0;
    }
}

@media (min-width: 1100px) {

    .hp-featured-resources-wrapper { 
        margin: 0 75px;
        padding: 95px 75px 80px 75px;
        position: relative;
    }

    .hp-featured-resources-wrapper::before {
        content: url("/tmu/svgs/hp-resources-bg-big.svg");
        position: absolute;
        left: 0;
        width: calc(100% + 75px);
    }
    
    .hp-featured-resources-wrapper .hp-resources-featured-text { 
        font-size: 30px;
        line-height: 44px;
        margin-bottom: 40px;
        margin-left: 29%;
        margin-right: -75px;
        margin-top: -200px;
        padding: 50px;
        text-align: left;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-laptop .hp-resources-link-first-laptop {
        margin-right: 30px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-laptop .hp-resources-header-buttons-laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-text { 
        font-size: 34px;
        margin-bottom: 0;
        text-align: left;
        width: 200px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-cards { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 40px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card { 
        border-radius: 30px;
        margin-bottom: 0;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-image { 
        height: 175px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-content {
        padding: 30px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-taxonomy { 
        font-size: 16px;
        margin-bottom: 22px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-title { 
        font-size: 24px;
        margin-bottom: 17px;
        line-height: 34px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-date { 
        font-size: 16px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-buttons { 
        display: none;
    }
}

@media (min-width: 1441px) {

    .hp-featured-resources-wrapper { 
        margin: 0 100px;
        padding: 135px 85px 90px 85px;
        position: relative;
    }

    .hp-featured-resources-wrapper::before {
        content: url("/tmu/svgs/hp-resources-bg-large.svg");
        position: absolute;
        left: 0;
        width: calc(100% + 100px);
    }
    
    .hp-featured-resources-wrapper .hp-resources-featured-text { 
        margin-bottom: 60px;
        margin-left: 50%;
        margin-right: -85px;
        margin-top: -200px;
        padding: 50px 100px 50px 95px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 40px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-laptop .hp-resources-link-first-laptop {
        margin-right: 30px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-laptop .hp-resources-header-buttons-laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resources-header-text { 
        font-size: 49px;
    }

    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-cards { 
        grid-column-gap: 40px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-image { 
        height: 225px;
    }
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-content {
        padding: 40px;
    }
    
    /* .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-taxonomy { 
        font-size: 25px;
        margin-bottom: 20px;
    } */
    
    .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-title { 
        font-size: 26px;
        margin-bottom: 20px;
        line-height: 36px;
    }
    
    /* .hp-featured-resources-wrapper .hp-resources-header .hp-resource-card .hp-resource-card-date { 
        font-size: 25px;
    } */
}