.ci-accordion-wrapper { 
    display: flex;
    grid-row-gap: 30px;
    margin: 30px;
    flex-direction: column;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper { 
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs { 
    display: flex;
    flex-direction: column;
    grid-row-gap: 25px;
    margin: 25px;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair { 
    border-radius: 0 30px 30px 30px;
    background-color: var(--light-mint);
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-img { 
    width: 100%;
    border-radius: 0 30px 30px 30px;
    object-fit: cover;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts { 
    display: flex;
    margin-top: -24.5px;
    margin-left: 8px;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone { 
    height: 60px;
    display: flex;
    position: relative;
    width: 68px;
    justify-content: center;
    content: url("/tmu/svgs/ci-phone.svg");
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone:focus,
.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-email:focus { 
    outline: 2px dotted;
    outline-offset: -10px;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone .ci-chair-phone-hover { 
    display: none;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone .ci-chair-phone-hover::before { 
    position: absolute;
    top: -11px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='19' viewBox='0 0 38 19'%3E%3Cpath id='Polygon_7' data-name='Polygon 7' d='M19,0,38,19H0Z' fill='%2323356e'/%3E%3C/svg%3E%0A");
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone:focus .ci-chair-phone-hover,
.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone:hover .ci-chair-phone-hover { 
    background-color: var(--blue);
    border-radius: 30px;
    bottom: -40px;
    color: var(--white);
    display: flex;
    font-size: 16px;
    justify-content: center;
    line-height: 20px;
    padding: 13px 18px;
    position: absolute;
    text-align: center;
    width: max-content;
    z-index: 1;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-email { 
    content: url("/tmu/svgs/ci-email.svg");
    display: block;
    height: 60px;
    position: relative;
    width: 68px;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-name { 
    margin: 10px 25px 15px 25px;
    font-size: 22px;
    font-weight: var(--bold);
    line-height: 27px;
    color: var(--blue);
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text { 
    margin: 0 25px 15px 25px;
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 24px;
    height: 120px;
    overflow: hidden;
    transition: height 0.5s ease;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-full { 
    margin: 0 25px 30px 25px;
    font-size: 16px;
    font-weight: var(--semibold);
    line-height: 22px;
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-full:hover,
.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-full:focus { 
    text-decoration: none;
}

.ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-full:focus { 
    outline: 2px dotted var(--black);
}

.ci-accordion-wrapper .ci-accordion-speakers-wrapper { 
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
    background: var(--gradient-blue);
}

.ci-accordion-wrapper .ci-accordion-speakers-wrapper .panel .ci-speakers-text { 
    margin: 30px 25px;
    color: var(--white);
    font-size: 16px;
    line-height: 26px;

    & p {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.ci-accordion-wrapper .ci-accordion-modules-wrapper { 
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper { 
    margin: 30px 25px 0 25px;

    &:last-of-type {
        margin: 30px 25px 30px 25px;
    }
}

.ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-title { 
    font-size: 16px;
    line-height: 25px;
    color: var(--blue);
    margin-bottom: 8px;
}

.ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-text { 
    font-size: 16px;
    line-height: 28px;
}

/* accordion styles */
.accordion {
    background: var(--gradient-blue);
    border-radius: 0 30px 30px 30px;
    border: none;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-family: "Lexend", sans-serif;
    font-size: 25px;
    font-weight: var(--semibold);
    justify-content: space-between;
    line-height: 40px;
    outline: none;
    padding: 32px;
    text-align: left;
    transition: 0.4s;
    width: 100%;
}

.accordion:hover,
.accordion:focus {
    text-decoration: underline;
}

.accordion:focus {
    outline: 3px dotted var(--blue);
    outline-offset: 8px;
}

.accordion:after {
    content: url("data:image/svg+xml,%3Csvg id='Group_1249' data-name='Group 1249' xmlns='http://www.w3.org/2000/svg' width='47.829' height='47.829' viewBox='0 0 47.829 47.829'%3E%3Cg id='Group_731' data-name='Group 731'%3E%3Cg id='Group_651' data-name='Group 651' transform='translate(47.829) rotate(90)'%3E%3Cg id='Group_649' data-name='Group 649' transform='translate(0 0)'%3E%3Cpath id='Icon_awesome-plus-circle' data-name='Icon awesome-plus-circle' d='M23.915,0A23.914,23.914,0,1,0,47.829,23.914,23.91,23.91,0,0,0,23.915,0ZM37.8,26.614a1.161,1.161,0,0,1-1.157,1.157H27.772v8.871A1.161,1.161,0,0,1,26.615,37.8h-5.4a1.161,1.161,0,0,1-1.157-1.157V27.772H11.186a1.161,1.161,0,0,1-1.157-1.157v-5.4a1.161,1.161,0,0,1,1.157-1.157h8.872V11.186a1.161,1.161,0,0,1,1.157-1.157h5.4a1.161,1.161,0,0,1,1.157,1.157v8.871h8.872A1.161,1.161,0,0,1,37.8,21.214Z' fill='%23cbe9e3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    float: right;
    margin-left: 30px;
    height: 47px;
    width: 47px;
}

.active-acc:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='47.829' height='47.829' viewBox='0 0 47.829 47.829'%3E%3Cg id='Group_732' data-name='Group 732' transform='translate(0 0)'%3E%3Cg id='Group_731' data-name='Group 731' transform='translate(0 0)'%3E%3Cg id='Group_651' data-name='Group 651' transform='translate(47.829) rotate(90)'%3E%3Cg id='Group_649' data-name='Group 649'%3E%3Cpath id='Icon_awesome-plus-circle' data-name='Icon awesome-plus-circle' d='M23.915,0A23.914,23.914,0,1,0,47.829,23.914,23.91,23.91,0,0,0,23.915,0Zm3.857,24.462c0,.636,9.508,0,0,0V36.643A1.161,1.161,0,0,1,26.615,37.8h-5.4a1.161,1.161,0,0,1-1.157-1.157c.011-3.779.061-15.136,0-25.457a1.161,1.161,0,0,1,1.157-1.157h5.4a1.161,1.161,0,0,1,1.157,1.157V24.462C37.28,24.462,37.8,20.578,27.772,24.462Z' fill='%23cbe9e3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

@media (min-width: 650px) {

    .ci-accordion-wrapper { 
        grid-row-gap: 50px;
        margin: 50px 75px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs { 
        grid-row-gap: 30px;
        margin: 30px;
    }

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair { 
        display: flex;
        position: relative;
    }

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-img { 
        width: 30%;
        max-height: 315px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts { 
        margin-top: auto;
        margin-left: auto;
        position: absolute;
        left: calc(30% - 24.7px);
        top: 155px;
        display: flex;
        flex-direction: column;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone { 
        height: 68px;
        width: 68px;
        content: url("/tmu/svgs/ci-phone-tablet.svg");
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone .ci-chair-phone-hover { 
        display: none;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone .ci-chair-phone-hover::before { 
        position: absolute;
        top: -11px;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='19' viewBox='0 0 38 19'%3E%3Cpath id='Polygon_7' data-name='Polygon 7' d='M19,0,38,19H0Z' fill='%2323356e'/%3E%3C/svg%3E%0A");
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-email { 
        content: url("/tmu/svgs/ci-email-tablet.svg");
        height: 68px;
        width: 68px;
        transform: rotateZ(270deg);
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-name { 
        margin: 40px 40px 25px 40px;
        font-size: 18px;
        line-height: 27px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text { 
        margin: 0 40px 30px 40px;
        font-size: 16px;
        line-height: 26px;
        height: 130px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-full { 
        margin: 0 40px 40px 40px;
        font-size: 16px;
        line-height: 22px;
    }
    
    .ci-accordion-wrapper .ci-accordion-speakers-wrapper .panel .ci-speakers-text { 
        margin: 50px;
        font-size: 18px;
        line-height: 30px;
        column-count: 2;
        column-gap: 40px;
    
        & p {
            margin-bottom: 20px;
            margin-top: 0;
        }
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper { 
        margin: 40px 30px 0 30px;
        padding: 40px;
        background-color: var(--sky);
        border-radius: 0 50px 50px 50px;
    
        &:last-of-type {
            margin: 40px 30px 30px 30px;
        }

        &:first-of-type {
            margin: 30px 30px 0 30px;
        }
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-title { 
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-text { 
        font-size: 16px;
        line-height: 28px;
    }
    
    /* accordion styles */
    .accordion {
        font-size: 34px;
        line-height: 40px;
        padding: 50px;
    }
}

@media (min-width: 1100px) {

    .ci-accordion-wrapper { 
        grid-row-gap: 70px;
        margin: 70px 150px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs { 
        grid-row-gap: 75px;
        margin: 75px;
    }

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-img { 
        width: 20%;
        max-height: fit-content;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts { 
        left: calc(20% - 40.9px);
        bottom: 20px;
        top: auto;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone { 
        height: 100px;
        width: 109px;
        content: url("/tmu/svgs/ci-phone-laptop.svg");
    }

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone:hover,
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone:focus { 
        content: url("/tmu/svgs/ci-phone-hover.svg");
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-email { 
        content: url("/tmu/svgs/ci-email-laptop.svg");
        height: 109px;
        width: 100px;
        transform: rotateZ(270deg);
        right: -4.6px;
        top: -5px;
    }

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-email:hover,
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-email:focus { 
        content: url("/tmu/svgs/ci-email-hover.svg");
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-name { 
        margin: 65px 125px 25px 65px;
        font-size: 27px;
        line-height: 30px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text { 
        margin: 0 70px 70px 65px;
        font-size: 16px;
        line-height: 26px;
        height: 162px !important;
        overflow: auto;
        padding-right: 40px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-full { 
        display: none;
    }

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text::-webkit-scrollbar {
        width: 15px;
    }

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text::-webkit-scrollbar-track {
        border-radius: 100px;
        background: var(--white);
    }
       
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 100px;
    }
    
    .ci-accordion-wrapper .ci-accordion-speakers-wrapper .panel .ci-speakers-text { 
        margin: 50px 50px 25px 50px;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        grid-column-gap: 40px;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
    
        & p {
            margin: 0 0 25px 0;
        }
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper { 
        margin: 75px 75px 0 75px;
        padding: 75px;
        background-color: var(--sky);
    
        &:last-of-type {
            margin: 75px;
        }

        &:first-of-type {
            margin: 75px 75px 0 75px;
        }
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-title { 
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-text { 
        font-size: 16px;
        line-height: 28px;
    }
    
    /* accordion styles */
    .accordion {
        font-size: 34px;
        line-height: 40px;
        padding: 50px;
    }
}

@media (min-width: 1441px) {

    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-img { 
        width: 30%;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts { 
        left: calc(30% - 66.5px);
        bottom: 20px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-phone { 
        height: 155px;
        width: 175px;
        content: url("/tmu/svgs/ci-phone-desktop.svg");
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-phone-contacts .ci-chair-email { 
        content: url("/tmu/svgs/ci-email-desktop.svg");
        height: 175px;
        width: 155px;
        transform: rotateZ(270deg);
        right: -10.3px;
        top: -9.8px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-name { 
        margin: 110px 135px 45px 100px;
        font-size: 27px;
        line-height: 30px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text { 
        margin: 0 110px 100px 100px;
        font-size: 18px;
        line-height: 26px;
        height: 157px !important;
        padding-right: 110px;
    }
    
    .ci-accordion-wrapper .ci-accordion-chairs-wrapper .panel .ci-chairs .ci-chair .ci-chair-text::-webkit-scrollbar {
        width: 25px;
    }

    .ci-accordion-wrapper .ci-accordion-speakers-wrapper .panel .ci-speakers-text { 
        margin: 50px 50px 15px 50px;
        font-size: 18px;
        line-height: 30px;
    
        & p {
            margin: 0 0 35px 0;
        }
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper { 
        margin: 70px 185px 0 185px;
        padding: 95px;
    
        &:last-of-type {
            margin: 70px 185px 70px 185px;
        }

        &:first-of-type {
            margin: 70px 185px 0 185px;
        }
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-title { 
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    
    .ci-accordion-wrapper .ci-accordion-modules-wrapper .panel .ci-module-wrapper .ci-modules-text { 
        font-size: 18px;
        line-height: 28px;
    }
}