.au-courses-wrapper { 
    background-color: var(--pale-blue);
    border-radius: 50px 50px 0 0;
    padding: 50px 30px;
}

.au-courses-wrapper::after { 
    background-color: var(--pale-blue);
    content: '';
    height: 50px;
    width: 100%;
    display: block;
    position: absolute;
    margin-left: -30px;
    margin-top: 50px;
}

.au-courses-wrapper .au-courses-title { 
    font-size: 30px;
    font-weight: var(--semibold);
    line-height: 40px;
    padding-bottom: 20px;
    color: var(--blue);
}

.au-courses-wrapper .au-courses { 
    display: flex;
    flex-direction: column;
}

.au-courses-wrapper .au-courses .au-course { 
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    margin-bottom: 30px;
}

.au-courses-wrapper .au-courses .au-course:last-of-type { 
    margin-bottom: 0;
}

.au-courses-wrapper .au-courses .au-course .au-course-img { 
    border-radius: 30px;
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.au-courses-wrapper .au-courses .au-course .au-course-title {
    padding: 25px 30px 30px 30px;
    font-size: 30px;
    font-weight: var(--bold);
    line-height: 34px;
    text-decoration: underline;
    display: flex;
    justify-content: space-between;
}

.au-courses-wrapper .au-courses .au-course .au-course-title::after {
    content: url("/tmu/svgs/dropdown-close.svg");
    padding-left: 30px;
    top: 3px;
    position: relative;

    @media (min-width: 1100px) {
        content: none;
    }
}

.au-courses-wrapper .au-courses .au-course .course-title-active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s;
    text-decoration: none;
}

.au-courses-wrapper .au-courses .au-course .course-title-active::after {
    content: url("/tmu/svgs/dropdown-open.svg");
    /* transform: rotate(180deg); */
    
    @media (min-width: 1100px) {
        content: none;
    }
}

.au-courses-wrapper .au-courses .au-course .au-course-module {
    background-color: var(--blue);
    border-radius: 0 0 30px 30px;
    color: var(--white);
    display: none;
    margin-top: -30px;
    opacity: 0;
    padding: 25px 30px 30px 30px;
    transition: all 0.3s ease-in-out;
}

.au-courses-wrapper .au-courses .au-course .course-active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s;
}

.au-courses-wrapper .au-courses .au-course .au-course-text { 
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 26px;
    padding-bottom: 30px;
}

.au-course-title-laptop,
.au-course-title-hover {
    display: none;
}

.au-courses-wrapper .au-courses .au-course .au-course-button::after {
    padding-left: 20px;
    transition: padding-left 0.3s;
    content: url("/tmu/svgs/arrow.svg");
}

.au-courses-wrapper .au-courses .au-course .au-course-button:hover,
.au-courses-wrapper .au-courses .au-course .au-course-button:focus {
    background: transparent !important;
    border-color: var(--white) !important;
    outline-color: var(--white);
    color: var(--white);
}

.au-courses-wrapper .au-courses .au-course .au-course-button:hover::after,
.au-courses-wrapper .au-courses .au-course .au-course-button:focus::after {
    padding-left: 30px;
    content: url("/tmu/svgs/arrow-white.svg");
}

/* Media Queries */
@media (min-width: 650px) {

    .au-courses-wrapper { 
        border-radius: 50px;
        padding: 50px 50px 50px 50px;
        margin: 0 75px 75px 75px;
    }

    .au-courses-wrapper::after {
        display: none;
    }
    
    .au-courses-wrapper .au-courses-title { 
        font-size: 34px;
        line-height: 43px;
        padding-bottom: 30px;
    }
    
    .au-courses-wrapper .au-courses { 
        flex-direction: column;
    }
    
    .au-courses-wrapper .au-courses .au-course { 
        border-radius: 30px;
        margin-bottom: 50px;
    }
    
    .au-courses-wrapper .au-courses .au-course:last-of-type { 
        margin-bottom: 0;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-img { 
        border-radius: 30px;
        height: 275px;
        object-fit: cover;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-title {
        padding: 30px 30px 25px 30px;
        font-size: 30px;
        line-height: 34px;
        display: flex;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-title::after { 
        padding-left: 30px;
    }
    
    .au-courses-wrapper .au-courses .au-course .course-title-active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s;
        text-decoration: none;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-module {
        border-radius: 0 0 30px 30px;
        display: none;
        margin-top: -28px;
        opacity: 0;
        padding: 25px 30px 30px 30px;
    }
    
    .au-courses-wrapper .au-courses .au-course .course-active {
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-text { 
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 30px;
    }

    .au-course-title-laptop {
        display: none;
    }
}

@media (min-width: 1100px) {

    .au-courses-wrapper {
        border-radius: 50px;
        padding: 75px 75px 0 75px;
        margin: 0 75px 100px 75px;
        background-color: transparent;
        position: relative;
    }

    .au-courses-wrapper::after {
        content: '';
        background-color: var(--pale-blue);
        width: 100%;
        height: calc(100% - 135px);
        border-radius: 50px;
        display: block;
        margin-left: -75px;
        top: 0;
        margin-top: 0;
        position: absolute;
        z-index: -1;
    }
    
    .au-courses-wrapper .au-courses-title { 
        font-size: 34px;
        line-height: 40px;
        padding-bottom: 40px;
    }
    
    .au-courses-wrapper .au-courses { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 0px;
    }
    
    .au-courses-wrapper .au-courses .au-course { 
        border-radius: 30px;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        position: relative;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-img { 
        border-radius: 0 0 30px 30px;
        height: 435px;
        object-fit: cover;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-title {
        display: none;
    }

    .au-courses-wrapper .au-courses .au-course .au-course-title-laptop {
        display: flex;
        font-size: 30px;
        font-weight: var(--bold);
        line-height: 34px;
        padding: 40px;
        text-decoration: none;
    }
    
    .au-courses-wrapper .au-courses .au-course .course-title-active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s;
        text-decoration: none;
    }
    
    .au-courses-wrapper .au-courses .au-course .course-title-active::after {
        content: none;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-module {
        background-color: var(--blue);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        min-height: fit-content;
        opacity: 0;
        padding: 40px;
        z-index: 2;
        position: absolute;
        height: -webkit-fill-available;
    }
    
    .au-courses-wrapper .au-courses .au-course .course-active {
        display: block;
        opacity: 1;
        transform: translateY(0);
        transition: all 0.3s;
    }

    .au-courses-wrapper .au-courses .au-course .au-course-title-hover { 
        font-size: 30px;
        font-weight: var(--bold);
        line-height: 34px;
        padding: 0 0 40px 0;
        text-decoration: none;
        display: block;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-text { 
        font-size: 16px;
        line-height: 26px;
        padding-bottom: 30px;
    }
}

@media (min-width: 1441px) {

    .au-courses-wrapper {
        border-radius: 30px;
        padding: 85px 85px 0 85px;
        margin: 0 100px 100px 100px;
    }

    .au-courses-wrapper::after {
        height: calc(100% - 215px);
        border-radius: 30px;
        margin-left: -85px;
    }
    
    .au-courses-wrapper .au-courses-title { 
        font-size: 49px;
        line-height: 62px;
    }

    .au-courses-wrapper .au-courses {
        grid-column-gap: 60px;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-title-laptop {
        font-size: 36px;
        line-height: 44px;
        padding: 50px;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-module {
        padding: 50px;
    }

    .au-courses-wrapper .au-courses .au-course .au-course-title-hover { 
        font-size: 36px;
        line-height: 44px;
        padding: 0 0 50px 0;
    }
    
    .au-courses-wrapper .au-courses .au-course .au-course-text { 
        font-size: 18px;
        line-height: 32px;
        padding-bottom: 30px;
    }
}
