.au-hero-wrapper { 
    display: flex;
    flex-direction: column;   
}

.au-hero-wrapper::after {
    content: url("/tmu/svgs/au-hero-colour-bg.svg");
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -1;
    margin-top: -100px;
}

.au-hero-wrapper .au-hero-main .au-hero-title { 
    padding: 75px 30px 65px 30px;
    font-size: 32px;
    font-weight: var(--semibold);
    line-height: 40px;
    color: var(--dark-blue);
}

.au-hero-wrapper .au-hero-main .au-hero-title-background { 
    height: calc(100% + 100px);
    left: 0;
    object-fit: cover;
    position: absolute;
    top: -100px;
    width: 100%;
    z-index: -1;
    mask-image: url("/tmu/svgs/au-hero-bg.svg");
    mask-repeat: no-repeat; 
    mask-position: 100px 103px;
}

.au-hero-wrapper .au-hero-content { 
    background-color: var(--blue);
    border-radius: 30px 0 30px 0;
    padding: 30px;
    color: var(--white);
}

.au-hero-wrapper .au-hero-content .au-hero-text {
    padding-bottom: 25px;
    font-size: 20px;
    font-weight: var(--bold);
    line-height: 30px;
}

.au-hero-wrapper .au-hero-content .au-hero-subtext { 
    font-size: 16px;
    line-height: 30px;
}

/* Media Queries */
@media (min-width: 650px) {

    .au-hero-wrapper::after {
        content: url("/tmu/svgs/au-hero-colour-bg-medium.svg");
        margin-top: -170px;
    }
    
    .au-hero-wrapper .au-hero-main .au-hero-title { 
        padding: 100px 75px;
        font-size: 46px;
        line-height: 60px;
    }
    
    .au-hero-wrapper .au-hero-main .au-hero-title-background { 
        height: calc(100% + 170px);
        top: -170px;
        mask-image: url("/tmu/svgs/au-hero-bg-medium.svg");
        mask-position: 235px 195px;
    }
    
    .au-hero-wrapper .au-hero-content { 
        border-radius: 50px 0 50px 0;
        padding: 75px;
        margin-left: 75px;
        position: relative;
    }

    /* .au-hero-wrapper .au-hero-content::after {
        content: url("/tmu/svgs/au-hero-colour-bg-medium.svg");
        overflow: hidden;
        position: absolute;
        top: 273px;
        width: calc(100% - 75px);
        z-index: -1;
    } */
    
    .au-hero-wrapper .au-hero-content .au-hero-text {
        padding-bottom: 30px;
        font-size: 25px;
        line-height: 35px;
    }
    
    .au-hero-wrapper .au-hero-content .au-hero-subtext { 
        font-size: 16px;
        line-height: 32px;
    }
}

@media (min-width: 1100px) {

    .au-hero-wrapper::after {
        margin-left: 0;
        width: 100%;
        margin-top: -190px;
        content: url("/tmu/svgs/au-hero-colour-bg-large.svg");
    }
    
    .au-hero-wrapper .au-hero-main .au-hero-title { 
        padding: 100px 140px 130px 150px;
        font-size: 46px;
        line-height: 60px;
    }
    
    .au-hero-wrapper .au-hero-main .au-hero-title-background { 
        height: calc(100% + 190px);
        top: -190px;
        mask-image: url("/tmu/svgs/au-hero-bg-big.svg");
        mask-position: 420px 95px;
    }
    
    .au-hero-wrapper .au-hero-content { 
        padding: 85px 230px 85px 85px;
        margin-left: 245px;
    }

    .au-hero-wrapper .au-hero-content::after {
        top: 65px;
        width: calc(100% - 550px);
        margin-left: 465px;
    }
    
    .au-hero-wrapper .au-hero-content .au-hero-text {
        padding-bottom: 25px;
        font-size: 25px;
        line-height: 32px;
    }
    
    .au-hero-wrapper .au-hero-content .au-hero-subtext { 
        font-size: 16px;
        line-height: 32px;
    }
}

@media (min-width: 1441px) {

    .au-hero-wrapper::after {
        margin-left: 0;
        width: 100%;
        margin-top: -190px;
        content: url("/tmu/svgs/au-hero-colour-bg-large.svg");
    }
    
    .au-hero-wrapper .au-hero-main .au-hero-title { 
        padding: 140px 180px;
        font-size: 54px;
        line-height: 65px;
    }
    
    .au-hero-wrapper .au-hero-main .au-hero-title-background {
        mask-image: url("/tmu/svgs/au-hero-bg-large.svg");
        mask-position: 675px 60px;
    }
    
    .au-hero-wrapper .au-hero-content { 
        padding: 125px 330px 125px 125px;
        margin-left: 389px;
    }

    /* .au-hero-wrapper .au-hero-content::after {
        content: url("/tmu/svgs/bg-arrow-big.svg");
        top: -65px;
        width: calc(100% - 940px);
        margin-left: 815px;
    } */
    
    .au-hero-wrapper .au-hero-content .au-hero-text {
        padding-bottom: 30px;
        font-size: 25px;
        line-height: 35px;
    }
}
