.au-team-wrapper { 
    margin: 50px 0;
    position: relative;
}

.au-team-wrapper::before {
    right: 30px;
    top: -390px;
    position: absolute;
    content: url("/tmu/svgs/bg-arrow-small.svg");
}

.au-team-wrapper::after {
    position: absolute;
    width: 100%;
    background-color: var(--light-green);
    height: calc(100% - 296px);
    border-radius: 50px;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 163px;
}

.au-team-wrapper .au-team-title { 
    font-size: 30px;
    font-weight: var(--semibold);
    line-height: 40px;
    margin: 0 30px 20px 30px;
    color: var(--blue);
}

.au-team-wrapper .au-team-members { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    position: relative;
}

.au-team-wrapper .au-team-members .au-team-member { 
    background-color: var(--white);
    border-radius: 30px;
    margin: 0 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
    width: 100%;
    border-radius: 30px 30px 0 0;
    height: 246px;
    object-fit: cover;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
    display: flex;
    margin-top: -28px;
    margin-left: 6px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone { 
    height: 52px;
    display: flex;
    position: relative;
    width: 74px;
    justify-content: center;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone .au-team-member-phone-hover {
    display: none;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone .au-team-member-phone-hover::before {
    position: absolute;
    top: -11px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='19' viewBox='0 0 38 19'%3E%3Cpath id='Polygon_7' data-name='Polygon 7' d='M19,0,38,19H0Z' fill='%2323356e'/%3E%3C/svg%3E%0A");
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:hover .au-team-member-phone-hover,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus .au-team-member-phone-hover { 
    background-color: var(--blue);
    border-radius: 30px;
    bottom: -40px;
    color: var(--white);
    display: flex;
    font-size: 16px;
    justify-content: center;
    line-height: 20px;
    padding: 13px 18px;
    position: absolute;
    text-align: center;
    width: max-content;
    z-index: 1;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone::after { 
    content: url("/tmu/svgs/phone.svg");
    display: block;
    height: 52px;
    position: relative;
    width: 74px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:hover::after,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus::after { 
    content: url("/tmu/svgs/phone-hover.svg");
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-email { 
    height: 52px;
    display: block;
    position: relative;
    width: 74px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-email::after {
    content: url("/tmu/svgs/email.svg");
    display: block;
    height: 52px;
    position: relative;
    width: 74px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-email:hover::after,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-email:focus::after {
    content: url("/tmu/svgs/email-hover.svg");
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus::after,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-email:focus::after {
    outline: 2px dotted var(--black);
    outline-offset: 4px;
}


.au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
    font-size: 22px;
    font-weight: var(--bold);
    line-height: 32px;
    color: var(--blue);
    padding: 6px 25px 10px 25px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
    font-size: 16px;
    font-weight: var(--semibold);
    line-height: 22px;
    color: var(--dark-blue);
    padding: 0 25px 10px 25px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 24px;
    color: var(--black);
    padding: 0 25px 10px 25px;
    height: 90px;
    overflow: hidden;
    transition: height 0.5s ease;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-full { 
    font-size: 16px;
    font-weight: var(--semibold);
    line-height: 22px;
    color: var(--blue);
    padding: 0 25px 25px 25px;
    text-decoration: underline;
    padding-top: 10px;
    cursor: pointer;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-full:hover,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-full:focus { 
    text-decoration: none;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-full:focus { 
    outline: 2px dotted var(--black);
    outline-offset: 4px;
}

/* Media Queries */
@media (min-width: 650px) {

    .au-team-wrapper { 
        margin: 75px;
    }
    
    .au-team-wrapper::before {
        left: -350px;
        top: -260px;
        position: absolute;
        content: url("/tmu/svgs/bg-arrow-medium.svg");
    }
    
    .au-team-wrapper::after {
        position: absolute;
        width: 100%;
        height: calc(100% - 365px);
        border-radius: 50px;
        content: '';
        top: 0;
        left: 0;
        z-index: -1;
        margin-top: 195px;
    }
    
    .au-team-wrapper .au-team-title { 
        font-size: 34px;
        font-weight: var(--semibold);
        line-height: 41px;
        margin: 0 75px 30px 75px;
    }
    
    .au-team-wrapper .au-team-members { 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        position: relative;
    }
    
    .au-team-wrapper .au-team-members .au-team-member { 
        border-radius: 30px;
        margin: 0 75px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
        width: 100%;
        border-radius: 30px 30px 0 0;
        height: 404px;
        object-fit: cover;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
        display: flex;
        margin-top: -43px;
        margin-left: 10px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone { 
        height: 103px;
        display: flex;
        position: relative;
        width: 121px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone::after {
        content: url("/tmu/svgs/phone-big.svg");
        display: block;
        height: 103px;
        position: relative;
        width: 121px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:hover::after,
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus::after {
        content: url("/tmu/svgs/phone-big-hover.svg");
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email { 
        height: 103px;
        display: block;
        position: relative;
        width: 121px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email::after {
        content: url("/tmu/svgs/email-big.svg");
        display: block;
        height: 103px;
        position: relative;
        width: 121px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email:hover::after,
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email:focus::after {
        content: url("/tmu/svgs/email-big-hover.svg");
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
        font-size: 27px;
        line-height: 34px;
        padding: 10px 40px 15px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
        font-size: 20px;
        line-height: 28px;
        padding: 0 40px 30px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
        font-size: 16px;
        line-height: 26px;
        padding: 0 40px 15px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-full { 
        font-size: 16px;
        line-height: 22px;
        padding: 15px 40px 35px 40px;
    }
}

@media (min-width: 1100px) {

    .au-team-wrapper { 
        margin: 85px 75px;
    }
    
    .au-team-wrapper::before {
        left: -360px;
        top: -400px;
        position: absolute;
        content: url("/tmu/svgs/bg-arrow-big.svg");
    }
    
    .au-team-wrapper::after {
        height: calc(100% - 305px);
        margin-top: 225px;
    }
    
    .au-team-wrapper .au-team-title { 
        font-size: 34px;
        line-height: 40px;
        margin: 0 75px 40px 75px;
    }
    
    .au-team-wrapper .au-team-members { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 50px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member { 
        margin: 0;
        position: relative;
    }

    .au-team-wrapper .au-team-members .au-team-member::after { 
        content: '';
        width: 100%;
        background-color: var(--white);
        height: 40px;
        display: block;
        position: absolute;
        border-radius: 0 0 30px 30px;
        margin-top: -39px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(odd) { 
        margin: 0 20px 0 75px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(even) { 
        margin: 0 75px 0 20px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
        height: 404px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
        margin-top: -43px;
        margin-left: 10px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
        font-size: 27px;
        line-height: 34px;
        padding: 10px 60px 15px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
        font-size: 20px;
        line-height: 28px;
        padding: 0 60px 30px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
        font-size: 16px;
        line-height: 26px;
        padding: 0 40px 40px 40px;
        height: 160px;
        overflow: auto;
        position: relative;
        margin-right: 22px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar {
        width: 15px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar-track {
        border-radius: 100px;
        margin-bottom: 40px;
        margin-right: 22px;
        background: var(--light-green);
    }
       
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 100px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-full { 
        display: none;
    }
}

@media (min-width: 1441px) {

    .au-team-wrapper {
        margin: 85px 100px;
    }
    
    .au-team-wrapper::before {
        left: -270px;
        top: -180px;
        position: absolute;
        content: url("/tmu/svgs/bg-arrow-large.svg");
    }
    
    .au-team-wrapper::after {
        height: calc(100% - 395px);
        margin-top: 245px;
    }
    
    .au-team-wrapper .au-team-title { 
        font-size: 49px;
        line-height: 62px;
        margin: 0 85px 40px 85px;
    }
    
    .au-team-wrapper .au-team-members { 
        grid-column-gap: 0;
        grid-row-gap: 60px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member { 
        margin: 0;
        position: relative;
    }

    .au-team-wrapper .au-team-members .au-team-member::after { 
        height: 50px;
        margin-top: -49px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(odd) { 
        margin: 0 30px 0 85px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(even) { 
        margin: 0 85px 0 30px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
        height: 527px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
        margin-top: -43px;
        margin-left: 10px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
        padding: 10px 70px 15px 50px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
        padding: 0 70px 30px 50px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
        font-size: 18px;
        line-height: 30px;
        padding: 0 40px 50px 50px;
        height: 170px;
        overflow: auto;
        position: relative;
        margin-right: 30px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar-track {
        margin-bottom: 50px;
    }
}