.au-team-wrapper { 
    margin: 50px 0;
    position: relative;
}

.au-team-wrapper::before {
    right: 30px;
    top: -390px;
    position: absolute;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='639.794' height='465.64' viewBox='0 0 639.794 465.64'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_706' data-name='Rectangle 706' width='639.794' height='465.64' fill='%2323356e'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_587' data-name='Group 587' transform='translate(301.556 -387)'%3E%3Cg id='Group_586' data-name='Group 586' transform='translate(-301.556 387)' opacity='0.03' style='isolation: isolate'%3E%3Cg id='Group_577' data-name='Group 577' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_629' data-name='Path 629' d='M63.159,454.8,258.985,258.98a37,37,0,0,0,0-52.322L63.159,10.836A37,37,0,0,0,10.837,63.158l143.5,143.5a37,37,0,0,1,0,52.321l-143.5,143.5a37,37,0,0,0,0,52.319h0a37,37,0,0,0,52.324,0' transform='translate(0 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_630' data-name='Path 630' d='M391,454.8h0a37,37,0,0,0,52.324,0L639.156,258.981a37,37,0,0,0,0-52.322L443.329,10.837a37,37,0,0,0-52.322,52.322l143.5,143.5a37,37,0,0,1,0,52.321l-143.5,143.5a37,37,0,0,0,0,52.319' transform='translate(-193.711 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_631' data-name='Path 631' d='M765.167,454.8h0a37,37,0,0,0,52.324,0l195.826-195.824a37,37,0,0,0,0-52.322L817.491,10.837a37,37,0,0,0-52.322,52.322l143.5,143.5a37,37,0,0,1,0,52.321l-143.5,143.5a37,37,0,0,0,0,52.319' transform='translate(-384.36 -0.001)' fill='%2323356e'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.au-team-wrapper::after {
    position: absolute;
    width: 100%;
    background-color: var(--light-green);
    height: calc(100% - 296px);
    border-radius: 50px;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    margin-top: 163px;
}

.au-team-wrapper .au-team-title { 
    font-size: 30px;
    font-weight: var(--semibold);
    line-height: 40px;
    margin: 0 30px 20px 30px;
    color: var(--blue);
}

.au-team-wrapper .au-team-members { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    position: relative;
}

.au-team-wrapper .au-team-members .au-team-member { 
    background-color: var(--white);
    border-radius: 30px;
    margin: 0 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
    width: 100%;
    border-radius: 30px 30px 0 0;
    height: 246px;
    object-fit: cover;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
    display: flex;
    margin-top: -28px;
    margin-left: 6px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone { 
    height: 52px;
    display: flex;
    position: relative;
    width: 74px;
    justify-content: center;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone .au-team-member-phone-hover {
    display: none;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone .au-team-member-phone-hover::before {
    position: absolute;
    top: -11px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='19' viewBox='0 0 38 19'%3E%3Cpath id='Polygon_7' data-name='Polygon 7' d='M19,0,38,19H0Z' fill='%2323356e'/%3E%3C/svg%3E%0A");
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:hover .au-team-member-phone-hover,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus .au-team-member-phone-hover { 
    background-color: var(--blue);
    border-radius: 30px;
    bottom: -40px;
    color: var(--white);
    display: flex;
    font-size: 16px;
    justify-content: center;
    line-height: 20px;
    padding: 13px 18px;
    position: absolute;
    text-align: center;
    width: max-content;
    z-index: 1;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone::after { 
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73.582' height='62.413' viewBox='0 0 73.582 62.413'%3E%3Cg id='Group_596' data-name='Group 596' transform='translate(73.582 62.413) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(0 0)'%3E%3Cg id='Group_594' data-name='Group 594'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(5.301 0)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='31.207' cy='31.207' r='31.207' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M36.791,38.79,7.592,19.422A8.556,8.556,0,0,0,0,14.93C.45,14.545,9.562,0,9.562,0l11.7,24.209Z' transform='translate(0 23.623)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,38.79,29.2,19.422a8.556,8.556,0,0,1,7.592-4.492C36.34,14.545,27.229,0,27.229,0l-11.7,24.209Z' transform='translate(36.791 23.623)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M5.008,15.227,0,22.628,2.866,0Z' transform='translate(60.978 27.934)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_816' data-name='Group 816' transform='translate(17.87 10.402)'%3E%3Cellipse id='Ellipse_3' data-name='Ellipse 3' cx='19.204' cy='18.937' rx='19.204' ry='18.937' transform='translate(37.875 0) rotate(90)' fill='%23cbe9e3'/%3E%3Cpath id='Icon_material-phone-iphone' data-name='Icon material-phone-iphone' d='M16.983,1.5H9.758A2.259,2.259,0,0,0,7.5,3.758V19.111a2.259,2.259,0,0,0,2.258,2.258h7.225a2.259,2.259,0,0,0,2.258-2.258V3.758A2.259,2.259,0,0,0,16.983,1.5ZM13.37,20.466a1.355,1.355,0,1,1,1.355-1.355A1.353,1.353,0,0,1,13.37,20.466Zm4.064-3.612H9.306V4.209h8.128Z' transform='translate(5.683 8.103)' fill='%23071a31'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: block;
    height: 52px;
    position: relative;
    width: 74px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:hover::after,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus::after { 
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73.582' height='62.413' viewBox='0 0 121.008 102.641'%3E%3Cg id='Group_778' data-name='Group 778' transform='translate(121.008 102.641) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(0 0)'%3E%3Cg id='Group_594' data-name='Group 594'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(8.717)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='51.32' cy='51.32' r='51.32' transform='translate(0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M60.5,63.792,12.486,31.94A14.07,14.07,0,0,0,0,24.552C.741,23.919,15.725,0,15.725,0L34.968,39.813Z' transform='translate(0 38.849)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,63.792,48.018,31.94A14.07,14.07,0,0,1,60.5,24.552C59.763,23.919,44.779,0,44.779,0L25.536,39.813Z' transform='translate(60.504 38.849)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M8.236,25.042,0,37.212,4.713,0Z' transform='translate(100.28 45.939)' fill='%23fff'/%3E%3C/g%3E%3Cellipse id='Ellipse_3' data-name='Ellipse 3' cx='31.582' cy='31.143' rx='31.582' ry='31.143' transform='translate(29.333 85.534) rotate(-90)' fill='%2323356e'/%3E%3C/g%3E%3Cpath id='Icon_material-phone-iphone' data-name='Icon material-phone-iphone' d='M23.095,1.5H11.213A3.714,3.714,0,0,0,7.5,5.213V30.462a3.714,3.714,0,0,0,3.713,3.713H23.095a3.714,3.714,0,0,0,3.713-3.713V5.213A3.714,3.714,0,0,0,23.095,1.5ZM17.154,32.69a2.228,2.228,0,1,1,2.228-2.228A2.225,2.225,0,0,1,17.154,32.69Zm6.683-5.941H10.47V5.956H23.837Z' transform='translate(43.568 30.4)' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-email { 
    height: 52px;
    display: block;
    position: relative;
    width: 74px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-email::after { 
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73.582' height='62.413' viewBox='0 0 73.582 62.413'%3E%3Cg id='Group_596' data-name='Group 596' transform='translate(73.582 62.413) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(0 0)'%3E%3Cg id='Group_594' data-name='Group 594' transform='translate(0)'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(5.301 0)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='31.207' cy='31.207' r='31.207' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M36.791,38.79,7.592,19.422A8.556,8.556,0,0,0,0,14.93C.45,14.545,9.562,0,9.562,0l11.7,24.209Z' transform='translate(0 23.623)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,38.79,29.2,19.422a8.556,8.556,0,0,1,7.592-4.492C36.34,14.545,27.229,0,27.229,0l-11.7,24.209Z' transform='translate(36.791 23.623)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M5.008,15.227,0,22.628,2.866,0Z' transform='translate(60.978 27.934)' fill='%23fff'/%3E%3C/g%3E%3Cellipse id='Ellipse_5' data-name='Ellipse 5' cx='19.204' cy='18.937' rx='19.204' ry='18.937' transform='translate(17.837 52.011) rotate(-90)' fill='%23cbe9e3'/%3E%3C/g%3E%3Cpath id='Icon_material-email' data-name='Icon material-email' d='M17.914,6H4.657A1.655,1.655,0,0,0,3.008,7.657L3,17.6a1.662,1.662,0,0,0,1.657,1.657H17.914A1.662,1.662,0,0,0,19.572,17.6V7.657A1.662,1.662,0,0,0,17.914,6Zm0,3.314-6.629,4.143L4.657,9.314V7.657L11.286,11.8l6.629-4.143Z' transform='translate(25.906 17.602)' fill='%23071a31'/%3E%3C/svg%3E%0A");
    display: block;
    height: 52px;
    position: relative;
    width: 74px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-email:hover::after,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-email:focus::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73.582' height='62.413' viewBox='0 0 121.008 102.641'%3E%3Cg id='Group_1185' data-name='Group 1185' transform='translate(-846.32 -1568.18)'%3E%3Cg id='Group_777' data-name='Group 777' transform='translate(970.328 1670.82) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(3 0)'%3E%3Cg id='Group_594' data-name='Group 594'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(8.717)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='51.32' cy='51.32' r='51.32' transform='translate(0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M60.5,63.792,12.486,31.94A14.07,14.07,0,0,0,0,24.552C.741,23.919,15.725,0,15.725,0L34.968,39.813Z' transform='translate(0 38.849)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,63.792,48.018,31.94A14.07,14.07,0,0,1,60.5,24.552C59.763,23.919,44.779,0,44.779,0L25.536,39.813Z' transform='translate(60.504 38.849)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M8.236,25.042,0,37.212,4.713,0Z' transform='translate(100.28 45.939)' fill='%23fff'/%3E%3C/g%3E%3Cellipse id='Ellipse_5' data-name='Ellipse 5' cx='31.582' cy='31.143' rx='31.582' ry='31.143' transform='translate(32.333 85.534) rotate(-90)' fill='%2323356e'/%3E%3C/g%3E%3C/g%3E%3Cpath id='Icon_material-email' data-name='Icon material-email' d='M27.527,6H5.725A2.722,2.722,0,0,0,3.014,8.725L3,25.077A2.733,2.733,0,0,0,5.725,27.8h21.8a2.733,2.733,0,0,0,2.725-2.725V8.725A2.733,2.733,0,0,0,27.527,6Zm0,5.451-10.9,6.813-10.9-6.813V8.725l10.9,6.813,10.9-6.813Z' transform='translate(44.536 31.815)' fill='%23fff'/%3E%3C/svg%3E%0A");
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus::after,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-email:focus::after {
    outline: 2px dotted var(--black);
    outline-offset: 4px;
}


.au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
    font-size: 22px;
    font-weight: var(--bold);
    line-height: 32px;
    color: var(--blue);
    padding: 6px 25px 10px 25px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
    font-size: 16px;
    font-weight: var(--semibold);
    line-height: 22px;
    color: var(--dark-blue);
    padding: 0 25px 10px 25px;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 24px;
    color: var(--black);
    padding: 0 25px 10px 25px;
    height: 90px;
    overflow: hidden;
    transition: height 0.5s ease;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-full { 
    font-size: 16px;
    font-weight: var(--semibold);
    line-height: 22px;
    color: var(--blue);
    padding: 0 25px 25px 25px;
    text-decoration: underline;
    padding-top: 10px;
    cursor: pointer;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-full:hover,
.au-team-wrapper .au-team-members .au-team-member .au-team-member-full:focus { 
    text-decoration: none;
}

.au-team-wrapper .au-team-members .au-team-member .au-team-member-full:focus { 
    outline: 2px dotted var(--black);
    outline-offset: 4px;
}

/* Media Queries */
@media (min-width: 650px) {

    .au-team-wrapper { 
        margin: 75px;
    }
    
    .au-team-wrapper::before {
        left: -350px;
        top: -260px;
        position: absolute;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='820.563' height='597.203' viewBox='0 0 820.563 597.203'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_706' data-name='Rectangle 706' width='820.563' height='597.203' fill='%2323356e'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_654' data-name='Group 654' transform='translate(938.076 -668)'%3E%3Cg id='Group_585' data-name='Group 585' transform='translate(-938.076 668)' opacity='0.03' style='isolation: isolate'%3E%3Cg id='Group_577' data-name='Group 577' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_629' data-name='Path 629' d='M81,583.306,332.159,332.153a47.449,47.449,0,0,0,0-67.1L81,13.9A47.451,47.451,0,0,0,13.9,81L197.94,265.049a47.45,47.45,0,0,1,0,67.1L13.9,516.2a47.451,47.451,0,0,0,0,67.1h0a47.45,47.45,0,0,0,67.108,0' transform='translate(0 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_630' data-name='Path 630' d='M394.066,583.3h0a47.451,47.451,0,0,0,67.108,0L712.33,332.154a47.45,47.45,0,0,0,0-67.105L461.174,13.9A47.45,47.45,0,0,0,394.069,81L578.111,265.049a47.451,47.451,0,0,1,0,67.1L394.068,516.2a47.45,47.45,0,0,0,0,67.1' transform='translate(-141.028 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_631' data-name='Path 631' d='M768.228,583.3h0a47.451,47.451,0,0,0,67.108,0l251.155-251.152a47.45,47.45,0,0,0,0-67.105L835.336,13.9A47.45,47.45,0,0,0,768.231,81L952.274,265.049a47.45,47.45,0,0,1,0,67.1L768.23,516.2a47.45,47.45,0,0,0,0,67.1' transform='translate(-279.827 -0.001)' fill='%2323356e'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        /* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='639.794' height='465.64' viewBox='0 0 639.794 465.64'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_706' data-name='Rectangle 706' width='639.794' height='465.64' fill='%2323356e'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_587' data-name='Group 587' transform='translate(301.556 -387)'%3E%3Cg id='Group_586' data-name='Group 586' transform='translate(-301.556 387)' opacity='0.03' style='isolation: isolate'%3E%3Cg id='Group_577' data-name='Group 577' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_629' data-name='Path 629' d='M63.159,454.8,258.985,258.98a37,37,0,0,0,0-52.322L63.159,10.836A37,37,0,0,0,10.837,63.158l143.5,143.5a37,37,0,0,1,0,52.321l-143.5,143.5a37,37,0,0,0,0,52.319h0a37,37,0,0,0,52.324,0' transform='translate(0 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_630' data-name='Path 630' d='M391,454.8h0a37,37,0,0,0,52.324,0L639.156,258.981a37,37,0,0,0,0-52.322L443.329,10.837a37,37,0,0,0-52.322,52.322l143.5,143.5a37,37,0,0,1,0,52.321l-143.5,143.5a37,37,0,0,0,0,52.319' transform='translate(-193.711 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_631' data-name='Path 631' d='M765.167,454.8h0a37,37,0,0,0,52.324,0l195.826-195.824a37,37,0,0,0,0-52.322L817.491,10.837a37,37,0,0,0-52.322,52.322l143.5,143.5a37,37,0,0,1,0,52.321l-143.5,143.5a37,37,0,0,0,0,52.319' transform='translate(-384.36 -0.001)' fill='%2323356e'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); */
    }
    
    .au-team-wrapper::after {
        position: absolute;
        width: 100%;
        height: calc(100% - 365px);
        border-radius: 50px;
        content: '';
        top: 0;
        left: 0;
        z-index: -1;
        margin-top: 195px;
    }
    
    .au-team-wrapper .au-team-title { 
        font-size: 34px;
        font-weight: var(--semibold);
        line-height: 41px;
        margin: 0 75px 30px 75px;
    }
    
    .au-team-wrapper .au-team-members { 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        position: relative;
    }
    
    .au-team-wrapper .au-team-members .au-team-member { 
        border-radius: 30px;
        margin: 0 75px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
        width: 100%;
        border-radius: 30px 30px 0 0;
        height: 404px;
        object-fit: cover;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
        display: flex;
        margin-top: -43px;
        margin-left: 10px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone { 
        height: 103px;
        display: flex;
        position: relative;
        width: 121px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='121.008' height='102.641' viewBox='0 0 121.008 102.641'%3E%3Cg id='Group_1185' data-name='Group 1185' transform='translate(-151.312 -1568.18)'%3E%3Cg id='Group_596' data-name='Group 596' transform='translate(272.32 1670.82) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(0 0)'%3E%3Cg id='Group_594' data-name='Group 594'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(8.717)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='51.32' cy='51.32' r='51.32' transform='translate(0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M60.5,63.792,12.486,31.94A14.07,14.07,0,0,0,0,24.552C.741,23.919,15.725,0,15.725,0L34.968,39.813Z' transform='translate(0 38.849)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,63.792,48.018,31.94A14.07,14.07,0,0,1,60.5,24.552C59.763,23.919,44.779,0,44.779,0L25.536,39.813Z' transform='translate(60.504 38.849)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M8.236,25.042,0,37.212,4.713,0Z' transform='translate(100.28 45.939)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_816' data-name='Group 816' transform='translate(0 -185)'%3E%3Cellipse id='Ellipse_3' data-name='Ellipse 3' cx='31.582' cy='31.143' rx='31.582' ry='31.143' transform='translate(242.987 1770.287) rotate(90)' fill='%23cbe9e3'/%3E%3Cpath id='Icon_material-phone-iphone' data-name='Icon material-phone-iphone' d='M23.095,1.5H11.213A3.714,3.714,0,0,0,7.5,5.213V30.462a3.714,3.714,0,0,0,3.713,3.713H23.095a3.714,3.714,0,0,0,3.713-3.713V5.213A3.714,3.714,0,0,0,23.095,1.5ZM17.154,32.69a2.228,2.228,0,1,1,2.228-2.228A2.225,2.225,0,0,1,17.154,32.69Zm6.683-5.941H10.47V5.956H23.837Z' transform='translate(194.881 1784.58)' fill='%23071a31'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        display: block;
        height: 103px;
        position: relative;
        width: 121px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:hover::after,
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone:focus::after { 
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='121.008' height='102.641' viewBox='0 0 121.008 102.641'%3E%3Cg id='Group_778' data-name='Group 778' transform='translate(121.008 102.641) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(0 0)'%3E%3Cg id='Group_594' data-name='Group 594'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(8.717)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='51.32' cy='51.32' r='51.32' transform='translate(0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M60.5,63.792,12.486,31.94A14.07,14.07,0,0,0,0,24.552C.741,23.919,15.725,0,15.725,0L34.968,39.813Z' transform='translate(0 38.849)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,63.792,48.018,31.94A14.07,14.07,0,0,1,60.5,24.552C59.763,23.919,44.779,0,44.779,0L25.536,39.813Z' transform='translate(60.504 38.849)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M8.236,25.042,0,37.212,4.713,0Z' transform='translate(100.28 45.939)' fill='%23fff'/%3E%3C/g%3E%3Cellipse id='Ellipse_3' data-name='Ellipse 3' cx='31.582' cy='31.143' rx='31.582' ry='31.143' transform='translate(29.333 85.534) rotate(-90)' fill='%2323356e'/%3E%3C/g%3E%3Cpath id='Icon_material-phone-iphone' data-name='Icon material-phone-iphone' d='M23.095,1.5H11.213A3.714,3.714,0,0,0,7.5,5.213V30.462a3.714,3.714,0,0,0,3.713,3.713H23.095a3.714,3.714,0,0,0,3.713-3.713V5.213A3.714,3.714,0,0,0,23.095,1.5ZM17.154,32.69a2.228,2.228,0,1,1,2.228-2.228A2.225,2.225,0,0,1,17.154,32.69Zm6.683-5.941H10.47V5.956H23.837Z' transform='translate(43.568 30.4)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email { 
        height: 103px;
        display: block;
        position: relative;
        width: 121px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='121.008' height='102.641' viewBox='0 0 121.008 102.641'%3E%3Cg id='Group_596' data-name='Group 596' transform='translate(121.008 102.641) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(0 0)'%3E%3Cg id='Group_594' data-name='Group 594' transform='translate(0)'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(8.717 0)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='51.32' cy='51.32' r='51.32' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M60.5,63.792,12.486,31.94A14.07,14.07,0,0,0,0,24.552C.741,23.919,15.725,0,15.725,0L34.968,39.813Z' transform='translate(0 38.849)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,63.792,48.018,31.94A14.07,14.07,0,0,1,60.5,24.552C59.763,23.919,44.779,0,44.779,0L25.536,39.813Z' transform='translate(60.504 38.849)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M8.236,25.042,0,37.212,4.713,0Z' transform='translate(100.28 45.939)' fill='%23fff'/%3E%3C/g%3E%3Cellipse id='Ellipse_5' data-name='Ellipse 5' cx='31.582' cy='31.143' rx='31.582' ry='31.143' transform='translate(29.333 85.534) rotate(-90)' fill='%23cbe9e3'/%3E%3C/g%3E%3Cpath id='Icon_material-email' data-name='Icon material-email' d='M27.527,6H5.725A2.722,2.722,0,0,0,3.014,8.725L3,25.077A2.733,2.733,0,0,0,5.725,27.8h21.8a2.733,2.733,0,0,0,2.725-2.725V8.725A2.733,2.733,0,0,0,27.527,6Zm0,5.451-10.9,6.813-10.9-6.813V8.725l10.9,6.813,10.9-6.813Z' transform='translate(43.609 32.815)' fill='%23071a31'/%3E%3C/svg%3E%0A");
        display: block;
        height: 103px;
        position: relative;
        width: 121px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email:hover::after,
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-email:focus::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='121.008' height='102.641' viewBox='0 0 121.008 102.641'%3E%3Cg id='Group_1185' data-name='Group 1185' transform='translate(-846.32 -1568.18)'%3E%3Cg id='Group_777' data-name='Group 777' transform='translate(970.328 1670.82) rotate(-180)'%3E%3Cg id='Group_622' data-name='Group 622' transform='translate(3 0)'%3E%3Cg id='Group_594' data-name='Group 594'%3E%3Cg id='Group_588' data-name='Group 588' transform='translate(8.717)'%3E%3Ccircle id='Ellipse_1' data-name='Ellipse 1' cx='51.32' cy='51.32' r='51.32' transform='translate(0)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_638' data-name='Path 638' d='M60.5,63.792,12.486,31.94A14.07,14.07,0,0,0,0,24.552C.741,23.919,15.725,0,15.725,0L34.968,39.813Z' transform='translate(0 38.849)' fill='%23fff'/%3E%3Cpath id='Path_639' data-name='Path 639' d='M0,63.792,48.018,31.94A14.07,14.07,0,0,1,60.5,24.552C59.763,23.919,44.779,0,44.779,0L25.536,39.813Z' transform='translate(60.504 38.849)' fill='%23fff'/%3E%3C/g%3E%3Cpath id='Path_649' data-name='Path 649' d='M8.236,25.042,0,37.212,4.713,0Z' transform='translate(100.28 45.939)' fill='%23fff'/%3E%3C/g%3E%3Cellipse id='Ellipse_5' data-name='Ellipse 5' cx='31.582' cy='31.143' rx='31.582' ry='31.143' transform='translate(32.333 85.534) rotate(-90)' fill='%2323356e'/%3E%3C/g%3E%3C/g%3E%3Cpath id='Icon_material-email' data-name='Icon material-email' d='M27.527,6H5.725A2.722,2.722,0,0,0,3.014,8.725L3,25.077A2.733,2.733,0,0,0,5.725,27.8h21.8a2.733,2.733,0,0,0,2.725-2.725V8.725A2.733,2.733,0,0,0,27.527,6Zm0,5.451-10.9,6.813-10.9-6.813V8.725l10.9,6.813,10.9-6.813Z' transform='translate(44.536 31.815)' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
        font-size: 27px;
        line-height: 34px;
        padding: 10px 40px 15px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
        font-size: 20px;
        line-height: 28px;
        padding: 0 40px 30px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
        font-size: 16px;
        line-height: 26px;
        padding: 0 40px 15px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-full { 
        font-size: 16px;
        line-height: 22px;
        padding: 15px 40px 35px 40px;
    }
}

@media (min-width: 1100px) {

    .au-team-wrapper { 
        margin: 85px 75px;
    }
    
    .au-team-wrapper::before {
        left: -360px;
        top: -400px;
        position: absolute;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1195.818' height='870.313' viewBox='0 0 1195.818 870.313'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_706' data-name='Rectangle 706' width='1195.818' height='870.313' fill='%2323356e'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_654' data-name='Group 654' transform='translate(938.076 -668)'%3E%3Cg id='Group_585' data-name='Group 585' transform='translate(-938.076 668)' opacity='0.03' style='isolation: isolate'%3E%3Cg id='Group_577' data-name='Group 577' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_629' data-name='Path 629' d='M118.047,850.06,484.06,484.052a69.149,69.149,0,0,0,0-97.793L118.047,20.253a69.151,69.151,0,0,0-97.794,97.794L288.461,386.259a69.149,69.149,0,0,1,0,97.792L20.253,752.266a69.151,69.151,0,0,0,0,97.788h0a69.15,69.15,0,0,0,97.8,0' transform='translate(0 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_630' data-name='Path 630' d='M400.42,850.055h0a69.151,69.151,0,0,0,97.8,0L864.231,484.053a69.149,69.149,0,0,0,0-97.794L498.217,20.254a69.15,69.15,0,0,0-97.793,97.794L668.632,386.26a69.151,69.151,0,0,1,0,97.792L400.424,752.267a69.15,69.15,0,0,0,0,97.788' transform='translate(-31.665 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_631' data-name='Path 631' d='M774.582,850.055h0a69.15,69.15,0,0,0,97.8,0l366.012-366.008a69.15,69.15,0,0,0,0-97.794L872.38,20.254a69.15,69.15,0,0,0-97.793,97.794L1042.795,386.26a69.149,69.149,0,0,1,0,97.792L774.586,752.267a69.15,69.15,0,0,0,0,97.788' transform='translate(-62.829 -0.001)' fill='%2323356e'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    
    .au-team-wrapper::after {
        height: calc(100% - 305px);
        margin-top: 225px;
    }
    
    .au-team-wrapper .au-team-title { 
        font-size: 34px;
        line-height: 40px;
        margin: 0 75px 40px 75px;
    }
    
    .au-team-wrapper .au-team-members { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 50px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member { 
        margin: 0;
        position: relative;
    }

    .au-team-wrapper .au-team-members .au-team-member::after { 
        content: '';
        width: 100%;
        background-color: var(--white);
        height: 40px;
        display: block;
        position: absolute;
        border-radius: 0 0 30px 30px;
        margin-top: -39px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(odd) { 
        margin: 0 20px 0 75px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(even) { 
        margin: 0 75px 0 20px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
        height: 404px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
        margin-top: -43px;
        margin-left: 10px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
        font-size: 27px;
        line-height: 34px;
        padding: 10px 60px 15px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
        font-size: 20px;
        line-height: 28px;
        padding: 0 60px 30px 40px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
        font-size: 16px;
        line-height: 26px;
        padding: 0 40px 40px 40px;
        height: 160px;
        overflow: auto;
        position: relative;
        margin-right: 22px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar {
        width: 15px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar-track {
        border-radius: 100px;
        margin-bottom: 40px;
        margin-right: 22px;
        background: var(--light-green);
    }
       
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 100px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-full { 
        display: none;
    }
}

@media (min-width: 1441px) {

    .au-team-wrapper {
        margin: 85px 100px;
    }
    
    .au-team-wrapper::before {
        left: -270px;
        top: -180px;
        position: absolute;
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1369.817' height='996.949' viewBox='0 0 1369.817 996.949'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_706' data-name='Rectangle 706' width='1369.817' height='996.949' fill='%2323356e'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_654' data-name='Group 654' transform='translate(938.076 -668)'%3E%3Cg id='Group_585' data-name='Group 585' transform='translate(-938.076 668)' opacity='0.03' style='isolation: isolate'%3E%3Cg id='Group_577' data-name='Group 577' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_629' data-name='Path 629' d='M135.224,973.749l419.27-419.265a79.21,79.21,0,0,0,0-112.022L135.224,23.2A79.212,79.212,0,0,0,23.2,135.223L330.434,442.462a79.211,79.211,0,0,1,0,112.021L23.2,861.726a79.213,79.213,0,0,0,0,112.017h0a79.212,79.212,0,0,0,112.027.005' transform='translate(0 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_630' data-name='Path 630' d='M403.367,973.744h0a79.212,79.212,0,0,0,112.028.005l419.27-419.265a79.211,79.211,0,0,0,0-112.023L515.394,23.2A79.212,79.212,0,0,0,403.372,135.224L710.6,442.464a79.213,79.213,0,0,1,0,112.021L403.371,861.727a79.212,79.212,0,0,0,0,112.017' transform='translate(19.045 -0.001)' fill='%2323356e'/%3E%3Cpath id='Path_631' data-name='Path 631' d='M777.529,973.744h0a79.212,79.212,0,0,0,112.027.005l419.27-419.265a79.211,79.211,0,0,0,0-112.023L889.556,23.2A79.212,79.212,0,0,0,777.534,135.224l307.234,307.239a79.211,79.211,0,0,1,0,112.021L777.533,861.727a79.212,79.212,0,0,0,0,112.017' transform='translate(37.789 -0.001)' fill='%2323356e'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
    
    .au-team-wrapper::after {
        height: calc(100% - 395px);
        margin-top: 245px;
    }
    
    .au-team-wrapper .au-team-title { 
        font-size: 49px;
        line-height: 62px;
        margin: 0 85px 40px 85px;
    }
    
    .au-team-wrapper .au-team-members { 
        grid-column-gap: 0;
        grid-row-gap: 60px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member { 
        margin: 0;
        position: relative;
    }

    .au-team-wrapper .au-team-members .au-team-member::after { 
        height: 50px;
        margin-top: -49px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(odd) { 
        margin: 0 30px 0 85px;
    }

    .au-team-wrapper .au-team-members .au-team-member:nth-child(even) { 
        margin: 0 85px 0 30px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-img { 
        height: 527px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-phone-contacts {
        margin-top: -43px;
        margin-left: 10px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-name { 
        padding: 10px 70px 15px 50px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-position { 
        padding: 0 70px 30px 50px;
    }
    
    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text { 
        font-size: 18px;
        line-height: 30px;
        padding: 0 40px 50px 50px;
        height: 170px;
        overflow: auto;
        position: relative;
        margin-right: 30px;
    }

    .au-team-wrapper .au-team-members .au-team-member .au-team-member-text::-webkit-scrollbar-track {
        margin-bottom: 50px;
    }
}